extends ./layout/layout.pug

block variables
    - var title = 'Detail aktuality'

block header
    include ./layout/header

block main
    main.main

        section.teaser.com
            .container
                .in.d-flex.align-items-center.flex-column.pb-8
                    include ./partials/breadcrumbs
                    h1.text-center News article detail
                    p: date.d-inline-block.bg-white.px-2.py-1.rounded.text-dark.text-muted: small 21. 04. 2021

        .spacer.pt-7

        section
            .container
                .row.justify-content-center
                    .col-12.col-md-8
                        .perex.com.font-weight-bold
                            p
                                | Perex: Nulla tincidunt malesuada mauris dui a tristique etiam nisl
                                | sed. Curabitur sit egestas nibh adipiscing. Feugiat massa etiam
                                | feugiat diam neque tempor aliquet ac mauris. Sagittis, facilisis
                                | quis nibh vitae curabitur venenatis euismod leo. Ultricies vitae
                                | ullamcorper sed morbi fringilla et lectus mauris purus. Feugiat
                                | massa etiam feugiat diam neque tempor aliquet ac mauris. Sagittis,
                                | facilisis quis nibh vitae curabitur venenatis euismod leo.

        .spacer.pt-4

        // Jeden sloupec
        section
            .container
                .row.justify-content-center
                    .col-12.col-md-8.mb-4
                        h4 One column
                    .col-12.col-md-8
                        p
                            | Laculis ac consectetur integer viverra elit. Vehicula commodo
                            | augue malesuada ultricies maecenas quis id nam commodo. Eleifend
                            | vulputate eget porttitor volutpat aenean eros, nisl justo amet.
                            | Vel egestas eget odio phasellus.
                        p
                            | Laculis ac <a href="#">consectetur integer</a> viverra elit. Vehicula commodo
                            | augue malesuada ultricies maecenas quis id nam commodo. Eleifend
                            | vulputate eget porttitor volutpat aenean eros.
                        p
                            | Laculis ac consectetur integer viverra elit. Vehicula commodo
                            | augue malesuada <strong>ultricies maecenas quis</strong> id nam commodo. Eleifend
                            | vulputate eget porttitor volutpat aenean eros, nisl justo amet.
                            | Vel egestas eget odio phasellus.<br>
                            | Augue malesuada ultricies maecenas quis id nam commodo. Eleifend
                            | vulputate eget porttitor volutpat aenean eros, nisl justo amet.
                            | Vel egestas eget odio phasellus.Laculis ac consectetur integer viverra elit. Vehicula commodo
                            | augue malesuada ultricies maecenas quis id nam commodo. Eleifend
                            | vulputate eget porttitor volutpat aenean eros, nisl justo amet.
                            | Vel egestas eget odio phasellus.<br>

        .spacer.pt-7

        // Dva sloupce
        section
            .container
                .row.justify-content-center
                    .col-12.col-md-8
                        h4 Two columns
                        .row
                            .col-12.col-md-6.mb-0.mb-md-0
                                .border.border-primary.bg-secondary.p-4.h-100.rounded
                                    p
                                        | Laculis ac consectetur integer viverra elit. Vehicula commodo
                                        | augue malesuada ultricies maecenas quis id nam commodo. Eleifend
                                        | vulputate eget porttitor volutpat aenean eros, nisl justo amet.
                                        | Vel egestas eget odio phasellus.
                            .col-12.col-md-6.mb-0.mb-md-0
                                .border.border-primary.bg-secondary.p-4.h-100.rounded
                                    p
                                        | Laculis ac consectetur integer viverra elit. Vehicula commodo
                                        | augue malesuada ultricies maecenas quis id nam commodo. Eleifend
                                        | vulputate eget porttitor volutpat aenean eros, nisl justo amet.

        .spacer.pt-7

        // Tři sloupce
        section.border-top.border-bottom.py-6
            .container
                h4 Three columns
                .row
                    .col-12.col-md-4.mb-4.mb-md-0
                        p
                            | Laculis ac consectetur integer viverra elit. Vehicula commodo
                            | augue malesuada ultricies maecenas quis id nam commodo.
                    .col-12.col-md-4.mb-4.mb-md-0
                        p
                            | Laculis ac consectetur integer viverra elit. Vehicula commodo
                            | augue malesuada ultricies maecenas quis id nam commodo.
                    .col-12.col-md-4.mb-4.mb-md-0
                        p
                            | Laculis ac consectetur integer viverra elit. Vehicula commodo
                            | augue malesuada ultricies maecenas quis id nam commodo.

        .spacer.pt-7

        section
            .container

                h2 Gallery

                .gallery.com
                    .row
                        - var n = 0;
                        while n < 12
                            .col-6.col-md-2
                                a(href="https://via.placeholder.com/1024x768.png?text=Product%20photo%20detail%20(1024%20x%20768)" data-fancybox="gallery")
                                    +placeholder(362, 226, '', 'w-100')
                            -n++

        .spacer.pt-7

        // Downloads
        section
            .container
                h2 Download buttons
                .row
                    .col-12.col-md-4.mb-2
                        a(href="#").btn.btn-outline-primary.w-100
                            strong
                                +sprite("document-download", "s-24 mr-1 ")
                                | Stáhnout PDF
                    .col-12.col-md-4.mb-2
                        a(href="#").btn.btn-outline-primary.w-100
                            strong
                                +sprite("document-download", "s-24 mr-1 ")
                                | Stáhnout PDF
                    .col-12.col-md-4.mb-2
                        a(href="#").btn.btn-outline-primary.w-100
                            strong
                                +sprite("document-download", "s-24 mr-1 ")
                                | Stáhnout PDF

        .spacer.pt-7

        section
            .container
                .row.gutter-0
                    .col-6
                        a(href="#!").d-block.h-100.p-4.bg-secondary.border.border-200.hover-border-primary.rounded.text-decoration-none.hover-zoom
                            .d-flex.align-items-center
                                +sprite("arrow-left", "s-24 mr-3")
                                span
                                    small.d-block.text-muted.text-uppercase Previous
                                    | Title of previous article
                    .col-6
                        a(href="#!").d-block.h-100.p-4.bg-secondary.border.border-200.hover-border-primary.rounded.text-decoration-none.hover-zoom
                            .d-flex.align-items-center.justify-content-end
                                span
                                    small.d-block.text-muted.text-uppercase.text-right Next
                                    | Title of next article
                                +sprite("arrow-right", "s-24 ml-3")

        .spacer.pt-7