extends ./layout/layout.pug

block variables
    - var title = 'Kontakt'

block header
    include ./layout/header

block main

    main.main

        section
            .map.com.bg-gray-100(style="background-image: url(" + $imgDir + "map@2x.jpg")
            .container.position-relative
                .map-box.com.shadow-secondary
                    +placeholder(280, 212)
                    .bottom.small
                        p
                            | <strong>TM Technik s. r. o.</strong><br>
                            | Křižíkova 2697/70<br>
                            | 612 00 Brno CZ<br>
                            | +420 515 500 711<br>
                            | E-mail: <a href="mailto:info@tm-technik.cz">info@tm-technik.cz</a>
                        p
                            a(href="#").btn.btn-outline-primary.w-100.p-2
                                | Naplánovat trasu
                                +sprite('arrow-narrow-right', "s-24")

        .spacer.pt-7

        section
            .container
                .row
                    .col-md-6
                        .d-flex.bg-white.shadow-secondary.p-5.mb-4
                            div.mr-4
                                .icon-box.com.s-64.border.border-dashed.rounded-circle
                                    +sprite("home", "s-40 text-primary")
                            div
                                h2.h4.mb-5 Doručovací a<br>kontaktní adresa
                                p
                                    | TM Technik s. r. o.<br>
                                    | Křižíkova 70, Brno 612 00<br>
                                    | +420 515 500 711<br>
                                    | <a href="mailto:info@tm-technik.cz">info@tm-technik.cz</a>
                    .col-md-6
                        .d-flex.bg-white.shadow-secondary.p-5.mb-4
                            div.mr-4
                                .icon-box.com.s-64.border.border-dashed.rounded-circle
                                    +sprite("mail-open", "s-40 text-primary")
                            div
                                h2.h4.mb-5 Fakturační<br> adresa
                                p
                                    | TM Technik s. r. o.<br>
                                    | Dornych 54/47, Brno 617 00<br>
                                    | IČ: 26889927<br>
                                    | DIČ: CZ26889927

        .spacer.pt-7

        section.bg-stripes-down

            .spacer.pt-7

            .container
                include ./forms/form-contact

            .spacer.pt-7