extends ./layout/layout.pug

block variables
    - var title = 'Služba 1'

block header
    include ./layout/header

block main

    main.main

        .teaser-hp.com

            .spacer.py-6

            .container
                .in
                    h1 Vy <i>zadáte</i>, my <i>změříme</i>
                    .perex.com
                        p Postaráme se o vaše měřidla od A do Z
                    .text-center
                        a(href="#content" data-fancyscroll="true").btn-circle.mx-auto.s-56.shadow-primary
                            +sprite('arrow-narrow-right', 's-18 rotate-r-90')

            .spacer.pt-4

        section.vertical-stripes#content
            .container
                .in
                    h2.text-center.text-sm-left.mb-4.mb-md-0: span.highlight Obory kde pomáháme

        section
            .container
                .box-list.com.--type-1
                    .row
                        .col-md-6.d-none.d-md-block
                            .item
                                // empty cell
                        each val, index in ['Rozměrové měření dle výkresové dokumentace', 'Porovnání dílů s 3D modelem měření pro účely vzorkování', 'FMEA zpracování dat pro SPC apod.', 'Měření kontrolních přípravků včetně jejich následného seřízení a oprav', 'Reverzní inženýrství pro účely oprav tvarových dílů, od kterých chybí CAD data']
                            .col-md-6
                                .item.shadow-primary.pr-md-7(href="./prodej.html" style="background-image: url(" + $imgDir + "/sluzby/sluzba1.png)")
                                    .cell.flex-row.align-items-center
                                        span.btn-circle.s-64.h5.mb-0.mr-4.shadow-secondary.text-primary.font-weight-semi-bold= index + 1
                                        h2.h5.font-weight-semi-bold.title= val
                                    .overlay.--edge-start 

        .spacer.pt-7

        section
            .container
                a(href= $imgDir + '/sluzby/cert1.png' data-fancybox="cert-1").d-block.text-decoration-none.bg-white.text-body.shadow-primary.rounded
                    .row.align-items-stretch
                        .col-md-7
                            .px-6.p-4.py-md-5
                                +sprite("badge-check", "s-80 text-primary mb-4")
                                h2 AUKOM certifikace
                                p Všichni pracovníci, kteří u nás provádí měření  jsou certifikovaní AUKTOM certifikátem, který zajišťuje vysokou odbornost
                        .col-md-5(style="background: url(" + $imgDir + "/sluzby/cert1.png) no-repeat 50% 0")
                            .d-flex.align-items-center.justify-content-center.h-md-100.min-vh-25
                                .btn.d-flex.align-items-center.justify-content-center.btn-primary.rounded-circle.p-0.s-48
                                    +sprite("search", "s-22")

        .spacer.pt-7

        section
            .container
                h3 Používáme profesionální přístroje

        .spacer.pt-4

        section
            .container
                .row
                    - var i = 0
                    while (i < 6)
                        .col-lg-6.mb-4
                            a(href="./detail.html").card.card-product.com.--type-2.shadow-primary 
                                .card-horizontal
                                    .img-wrap
                                        +placeholder(96, 236)
                                    .card-body.p-5
                                        h2.h6.card-title Wenzel LH 1210
                                        .card-text
                                            p CNC portálový souřadnicový měřicí stroj s motorickou indexovatelnou hlavicí a skenovací sondou SP25M.
                                            .small
                                                ul
                                                    li Rozsah 1 200 - 1 600 nm
                                                    li Rozlišení 0,5 nm
                                                    li Rozsah provozních teplot 0-45°C
                        - i++;

        section.bg-stripes-down

            .spacer.pt-7

            .container
                include ./forms/form-contact

            .spacer.pt-7
