extends ./layout/layout.pug

block variables
    - var title = 'Značky'

block header
    include ./layout/header

block main

    main.main

        .teaser-hp.com

            .spacer.py-6

            .container
                .in
                    h1 <i>Značky</i> měřidel
                    .perex.com
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis condimentum quam gravida mattis. Arcu suspendisse quisque risus, natoque et quis in ipsum pretium.
                    .text-center
                        a(href="#alphabet" data-fancyscroll="true").btn-circle.mx-auto.s-56.shadow-primary
                            +sprite('arrow-narrow-right', 's-18 rotate-r-90')

            .spacer.pt-4

        .spacer.pt-5

        section#alphabet
            .container
                ul.text-center
                    each val, index in ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
                        li.h2.d-inline-block.font-weight-bold.text-uppercase.text-underline
                            a(href="#" + val data-fancyscroll="true" data-offset="40").d-inline-block.p-1= val

        .spacer.pt-5

        each val, index in ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
            section(id= val)
                .container
                    .border-top
                        h4.bg-white.d-inline-block.pr-4.text-uppercase.translate-y-middle= val

                    include partials/logo-partners

            .spacer.pt-5