
<div class="product-detail">
  <div class="row">
    <div class="col-lg-6 mb-5 mb-lg-0">
      <div class="product-gallery-preview">
        <div class="product-gallery-preview-item active" id="first"><a href="https://via.placeholder.com/1024x768.png?text=Product%20photo%20detail%20(1024%20x%20768)" data-fancybox="prod-detail">
            <picture><img class="w-100" src="https://via.placeholder.com/444x460.png/666666"/></picture></a></div>
        <div class="product-gallery-preview-item" id="second"><a href="https://via.placeholder.com/1024x768.png?text=Product%20photo%20detail%20(1024%20x%20768)" data-fancybox="prod-detail">
            <picture><img class="w-100" src="https://via.placeholder.com/444x460.png/888888"/></picture></a></div>
        <div class="product-gallery-preview-item" id="third"><a href="https://via.placeholder.com/1024x768.png?text=Product%20photo%20detail%20(1024%20x%20768)" data-fancybox="prod-detail">
            <picture><img class="w-100" src="https://via.placeholder.com/444x460.png/BBBBBB"/></picture></a></div>
        <div class="product-gallery-preview-item" id="fourth"><a href="https://via.placeholder.com/1024x768.png?text=Product%20photo%20detail%20(1024%20x%20768)" data-fancybox="prod-detail">
            <picture><img class="w-100" src="https://via.placeholder.com/444x460.png/DDDDDD"/></picture></a></div>
      </div>
      <div class="product-gallery-thumblist"><a class="product-gallery-thumblist-item active" href="#first">
          <picture><img src="https://via.placeholder.com/68x72.png/666666"/></picture></a><a class="product-gallery-thumblist-item" href="#second">
          <picture><img src="https://via.placeholder.com/68x72.png/888888"/></picture></a><a class="product-gallery-thumblist-item" href="#third">
          <picture><img src="https://via.placeholder.com/68x72.png/BBBBBB"/></picture></a><a class="product-gallery-thumblist-item" href="#third">
          <picture><img src="https://via.placeholder.com/68x72.png/DDDDDD"/></picture></a></div>
    </div>
    <div class="col-lg-6">
      <div class="product-info">
        <table class="w-100 mb-5">
          <tr>
            <th class="py-2">Kód produktu</th>
            <td>KIT R20/502/1W</td>
          </tr>
          <tr>
            <th class="py-2">Hmotnost</th>
            <td>11 340 g</td>
          </tr>
          <tr>
            <th class="py-2">Dostupnost</th>
            <td class="text-success">Skladem</td>
          </tr>
          <tr>
            <th class="py-2">Výrobce</th>
            <td>Roger Industries</td>
          </tr>
        </table>
        <div class="text-700">
          <p>Schlitz live-edge pinterest hell of migas. Food truck small batch actually, pork belly hammock pinterest paleo prism intelligentsia enamel pin pickled try-hard copper mug gluten-free… <a href="#!" class="text-secondary">Více informací</a></p>
        </div>
        <div class="bg-secondary-alpha-10 rounded p-4 mt-5">
          <div class="text-micro font-weight-bold text-muted">
            <s>2&nbsp;600&nbsp;Kč</s>
          </div>
          <div class="h3 mb-0">1&nbsp;990&nbsp;Kč</div>
          <div class="text-micro font-weight-bold mb-4">1&nbsp;470 Kč s DPH</div>
          <button class="btn btn-secondary btn-lg w-100">
            <svg class="ico shopping-cart sx-24 mr-2 align-text-bottom">
              <use xlink:href="undefined#shopping-cart"></use>
            </svg>VLOŽIT DO KOŠÍKU
          </button>
        </div>
      </div>
    </div>
  </div>
</div>