%svg-common {
	background: url("../sprite.css.svg") no-repeat;
}

.svg-academic-cap {
	@extend %svg-common;
	background-position: 13.812154696132596% 0;
	width: 24px;
	height: 24px;
}

.svg-adjustments {
	@extend %svg-common;
	background-position: 13.812154696132596% 7.121661721068249%;
	width: 24px;
	height: 24px;
}

.svg-annotation {
	@extend %svg-common;
	background-position: 0 14.540059347181009%;
	width: 24px;
	height: 24px;
}

.svg-archive {
	@extend %svg-common;
	background-position: 6.629834254143646% 14.540059347181009%;
	width: 24px;
	height: 24px;
}

.svg-arrow-circle-down {
	@extend %svg-common;
	background-position: 13.259668508287293% 14.540059347181009%;
	width: 24px;
	height: 24px;
}

.svg-arrow-circle-left {
	@extend %svg-common;
	background-position: 20.441988950276244% 0;
	width: 24px;
	height: 24px;
}

.svg-arrow-circle-right {
	@extend %svg-common;
	background-position: 20.441988950276244% 7.121661721068249%;
	width: 24px;
	height: 24px;
}

.svg-arrow-circle-up {
	@extend %svg-common;
	background-position: 20.441988950276244% 14.243323442136498%;
	width: 24px;
	height: 24px;
}

.svg-arrow-down {
	@extend %svg-common;
	background-position: 0 21.661721068249257%;
	width: 24px;
	height: 24px;
}

.svg-arrow-left {
	@extend %svg-common;
	background-position: 6.629834254143646% 21.661721068249257%;
	width: 24px;
	height: 24px;
}

.svg-arrow-narrow-down {
	@extend %svg-common;
	background-position: 13.259668508287293% 21.661721068249257%;
	width: 24px;
	height: 24px;
}

.svg-arrow-narrow-left {
	@extend %svg-common;
	background-position: 19.88950276243094% 21.661721068249257%;
	width: 24px;
	height: 24px;
}

.svg-arrow-narrow-right {
	@extend %svg-common;
	background-position: 27.07182320441989% 0;
	width: 24px;
	height: 24px;
}

.svg-arrow-narrow-up {
	@extend %svg-common;
	background-position: 27.07182320441989% 7.121661721068249%;
	width: 24px;
	height: 24px;
}

.svg-arrow-right {
	@extend %svg-common;
	background-position: 27.07182320441989% 14.243323442136498%;
	width: 24px;
	height: 24px;
}

.svg-arrow-sm-down {
	@extend %svg-common;
	background-position: 27.07182320441989% 21.364985163204746%;
	width: 24px;
	height: 24px;
}

.svg-arrow-sm-left {
	@extend %svg-common;
	background-position: 0 28.783382789317507%;
	width: 24px;
	height: 24px;
}

.svg-arrow-sm-right {
	@extend %svg-common;
	background-position: 6.629834254143646% 28.783382789317507%;
	width: 24px;
	height: 24px;
}

.svg-arrow-sm-up {
	@extend %svg-common;
	background-position: 13.259668508287293% 28.783382789317507%;
	width: 24px;
	height: 24px;
}

.svg-arrow-up {
	@extend %svg-common;
	background-position: 19.88950276243094% 28.783382789317507%;
	width: 24px;
	height: 24px;
}

.svg-arrows-expand {
	@extend %svg-common;
	background-position: 26.519337016574585% 28.783382789317507%;
	width: 24px;
	height: 24px;
}

.svg-at-symbol {
	@extend %svg-common;
	background-position: 33.70165745856354% 0;
	width: 24px;
	height: 24px;
}

.svg-backspace {
	@extend %svg-common;
	background-position: 33.70165745856354% 7.121661721068249%;
	width: 24px;
	height: 24px;
}

.svg-badge-check {
	@extend %svg-common;
	background-position: 33.70165745856354% 14.243323442136498%;
	width: 24px;
	height: 24px;
}

.svg-ban {
	@extend %svg-common;
	background-position: 33.70165745856354% 21.364985163204746%;
	width: 24px;
	height: 24px;
}

.svg-beaker {
	@extend %svg-common;
	background-position: 33.70165745856354% 28.486646884272997%;
	width: 24px;
	height: 24px;
}

.svg-bell {
	@extend %svg-common;
	background-position: 0 35.90504451038576%;
	width: 24px;
	height: 24px;
}

.svg-book-open {
	@extend %svg-common;
	background-position: 6.629834254143646% 35.90504451038576%;
	width: 24px;
	height: 24px;
}

.svg-bookmark {
	@extend %svg-common;
	background-position: 13.259668508287293% 35.90504451038576%;
	width: 24px;
	height: 24px;
}

.svg-bookmark-alt {
	@extend %svg-common;
	background-position: 19.88950276243094% 35.90504451038576%;
	width: 24px;
	height: 24px;
}

.svg-briefcase {
	@extend %svg-common;
	background-position: 26.519337016574585% 35.90504451038576%;
	width: 24px;
	height: 24px;
}

.svg-cake {
	@extend %svg-common;
	background-position: 33.149171270718234% 35.90504451038576%;
	width: 24px;
	height: 24px;
}

.svg-calculator {
	@extend %svg-common;
	background-position: 40.331491712707184% 0;
	width: 24px;
	height: 24px;
}

.svg-calendar {
	@extend %svg-common;
	background-position: 40.331491712707184% 7.121661721068249%;
	width: 24px;
	height: 24px;
}

.svg-camera {
	@extend %svg-common;
	background-position: 40.331491712707184% 14.243323442136498%;
	width: 24px;
	height: 24px;
}

.svg-cash {
	@extend %svg-common;
	background-position: 40.331491712707184% 21.364985163204746%;
	width: 24px;
	height: 24px;
}

.svg-chart-bar {
	@extend %svg-common;
	background-position: 40.331491712707184% 28.486646884272997%;
	width: 24px;
	height: 24px;
}

.svg-chart-pie {
	@extend %svg-common;
	background-position: 40.331491712707184% 35.60830860534124%;
	width: 24px;
	height: 24px;
}

.svg-chart-square-bar {
	@extend %svg-common;
	background-position: 0 43.02670623145401%;
	width: 24px;
	height: 24px;
}

.svg-chat {
	@extend %svg-common;
	background-position: 6.629834254143646% 43.02670623145401%;
	width: 24px;
	height: 24px;
}

.svg-chat-alt {
	@extend %svg-common;
	background-position: 13.259668508287293% 43.02670623145401%;
	width: 24px;
	height: 24px;
}

.svg-chat-alt-2 {
	@extend %svg-common;
	background-position: 19.88950276243094% 43.02670623145401%;
	width: 24px;
	height: 24px;
}

.svg-check {
	@extend %svg-common;
	background-position: 26.519337016574585% 43.02670623145401%;
	width: 24px;
	height: 24px;
}

.svg-check-circle {
	@extend %svg-common;
	background-position: 33.149171270718234% 43.02670623145401%;
	width: 24px;
	height: 24px;
}

.svg-chevron-double-down {
	@extend %svg-common;
	background-position: 39.77900552486188% 43.02670623145401%;
	width: 24px;
	height: 24px;
}

.svg-chevron-double-left {
	@extend %svg-common;
	background-position: 46.96132596685083% 0;
	width: 24px;
	height: 24px;
}

.svg-chevron-double-right {
	@extend %svg-common;
	background-position: 46.96132596685083% 7.121661721068249%;
	width: 24px;
	height: 24px;
}

.svg-chevron-double-up {
	@extend %svg-common;
	background-position: 46.96132596685083% 14.243323442136498%;
	width: 24px;
	height: 24px;
}

.svg-chevron-down {
	@extend %svg-common;
	background-position: 46.96132596685083% 21.364985163204746%;
	width: 24px;
	height: 24px;
}

.svg-chevron-left {
	@extend %svg-common;
	background-position: 46.96132596685083% 28.486646884272997%;
	width: 24px;
	height: 24px;
}

.svg-chevron-right {
	@extend %svg-common;
	background-position: 46.96132596685083% 35.60830860534124%;
	width: 24px;
	height: 24px;
}

.svg-chevron-up {
	@extend %svg-common;
	background-position: 46.96132596685083% 42.72997032640949%;
	width: 24px;
	height: 24px;
}

.svg-chip {
	@extend %svg-common;
	background-position: 0 50.14836795252226%;
	width: 24px;
	height: 24px;
}

.svg-clipboard {
	@extend %svg-common;
	background-position: 6.629834254143646% 50.14836795252226%;
	width: 24px;
	height: 24px;
}

.svg-clipboard-check {
	@extend %svg-common;
	background-position: 13.259668508287293% 50.14836795252226%;
	width: 24px;
	height: 24px;
}

.svg-clipboard-copy {
	@extend %svg-common;
	background-position: 19.88950276243094% 50.14836795252226%;
	width: 24px;
	height: 24px;
}

.svg-clipboard-list {
	@extend %svg-common;
	background-position: 26.519337016574585% 50.14836795252226%;
	width: 24px;
	height: 24px;
}

.svg-clock {
	@extend %svg-common;
	background-position: 33.149171270718234% 50.14836795252226%;
	width: 24px;
	height: 24px;
}

.svg-cloud {
	@extend %svg-common;
	background-position: 39.77900552486188% 50.14836795252226%;
	width: 24px;
	height: 24px;
}

.svg-cloud-download {
	@extend %svg-common;
	background-position: 46.408839779005525% 50.14836795252226%;
	width: 24px;
	height: 24px;
}

.svg-cloud-upload {
	@extend %svg-common;
	background-position: 53.591160220994475% 0;
	width: 24px;
	height: 24px;
}

.svg-code {
	@extend %svg-common;
	background-position: 53.591160220994475% 7.121661721068249%;
	width: 24px;
	height: 24px;
}

.svg-cog {
	@extend %svg-common;
	background-position: 53.591160220994475% 14.243323442136498%;
	width: 24px;
	height: 24px;
}

.svg-collection {
	@extend %svg-common;
	background-position: 53.591160220994475% 21.364985163204746%;
	width: 24px;
	height: 24px;
}

.svg-color-swatch {
	@extend %svg-common;
	background-position: 53.591160220994475% 28.486646884272997%;
	width: 24px;
	height: 24px;
}

.svg-credit-card {
	@extend %svg-common;
	background-position: 53.591160220994475% 35.60830860534124%;
	width: 24px;
	height: 24px;
}

.svg-cube {
	@extend %svg-common;
	background-position: 53.591160220994475% 42.72997032640949%;
	width: 24px;
	height: 24px;
}

.svg-cube-transparent {
	@extend %svg-common;
	background-position: 53.591160220994475% 49.85163204747774%;
	width: 24px;
	height: 24px;
}

.svg-currency-bangladeshi {
	@extend %svg-common;
	background-position: 0 57.27002967359051%;
	width: 24px;
	height: 24px;
}

.svg-currency-dollar {
	@extend %svg-common;
	background-position: 6.629834254143646% 57.27002967359051%;
	width: 24px;
	height: 24px;
}

.svg-currency-euro {
	@extend %svg-common;
	background-position: 13.259668508287293% 57.27002967359051%;
	width: 24px;
	height: 24px;
}

.svg-currency-pound {
	@extend %svg-common;
	background-position: 19.88950276243094% 57.27002967359051%;
	width: 24px;
	height: 24px;
}

.svg-currency-rupee {
	@extend %svg-common;
	background-position: 26.519337016574585% 57.27002967359051%;
	width: 24px;
	height: 24px;
}

.svg-currency-yen {
	@extend %svg-common;
	background-position: 33.149171270718234% 57.27002967359051%;
	width: 24px;
	height: 24px;
}

.svg-cursor-click {
	@extend %svg-common;
	background-position: 39.77900552486188% 57.27002967359051%;
	width: 24px;
	height: 24px;
}

.svg-database {
	@extend %svg-common;
	background-position: 46.408839779005525% 57.27002967359051%;
	width: 24px;
	height: 24px;
}

.svg-desktop-computer {
	@extend %svg-common;
	background-position: 53.03867403314917% 57.27002967359051%;
	width: 24px;
	height: 24px;
}

.svg-device-mobile {
	@extend %svg-common;
	background-position: 60.22099447513812% 0;
	width: 24px;
	height: 24px;
}

.svg-device-tablet {
	@extend %svg-common;
	background-position: 60.22099447513812% 7.121661721068249%;
	width: 24px;
	height: 24px;
}

.svg-document {
	@extend %svg-common;
	background-position: 60.22099447513812% 14.243323442136498%;
	width: 24px;
	height: 24px;
}

.svg-document-add {
	@extend %svg-common;
	background-position: 60.22099447513812% 21.364985163204746%;
	width: 24px;
	height: 24px;
}

.svg-document-download {
	@extend %svg-common;
	background-position: 60.22099447513812% 28.486646884272997%;
	width: 24px;
	height: 24px;
}

.svg-document-duplicate {
	@extend %svg-common;
	background-position: 60.22099447513812% 35.60830860534124%;
	width: 24px;
	height: 24px;
}

.svg-document-remove {
	@extend %svg-common;
	background-position: 60.22099447513812% 42.72997032640949%;
	width: 24px;
	height: 24px;
}

.svg-document-report {
	@extend %svg-common;
	background-position: 60.22099447513812% 49.85163204747774%;
	width: 24px;
	height: 24px;
}

.svg-document-search {
	@extend %svg-common;
	background-position: 60.22099447513812% 56.97329376854599%;
	width: 24px;
	height: 24px;
}

.svg-document-text {
	@extend %svg-common;
	background-position: 0 64.39169139465875%;
	width: 24px;
	height: 24px;
}

.svg-dots-circle-horizontal {
	@extend %svg-common;
	background-position: 6.629834254143646% 64.39169139465875%;
	width: 24px;
	height: 24px;
}

.svg-dots-horizontal {
	@extend %svg-common;
	background-position: 13.259668508287293% 64.39169139465875%;
	width: 24px;
	height: 24px;
}

.svg-dots-vertical {
	@extend %svg-common;
	background-position: 19.88950276243094% 64.39169139465875%;
	width: 24px;
	height: 24px;
}

.svg-download {
	@extend %svg-common;
	background-position: 26.519337016574585% 64.39169139465875%;
	width: 24px;
	height: 24px;
}

.svg-duplicate {
	@extend %svg-common;
	background-position: 33.149171270718234% 64.39169139465875%;
	width: 24px;
	height: 24px;
}

.svg-emoji-happy {
	@extend %svg-common;
	background-position: 39.77900552486188% 64.39169139465875%;
	width: 24px;
	height: 24px;
}

.svg-emoji-sad {
	@extend %svg-common;
	background-position: 46.408839779005525% 64.39169139465875%;
	width: 24px;
	height: 24px;
}

.svg-exclamation {
	@extend %svg-common;
	background-position: 53.03867403314917% 64.39169139465875%;
	width: 24px;
	height: 24px;
}

.svg-exclamation-circle {
	@extend %svg-common;
	background-position: 59.668508287292816% 64.39169139465875%;
	width: 24px;
	height: 24px;
}

.svg-external-link {
	@extend %svg-common;
	background-position: 66.85082872928177% 0;
	width: 24px;
	height: 24px;
}

.svg-eye {
	@extend %svg-common;
	background-position: 66.85082872928177% 7.121661721068249%;
	width: 24px;
	height: 24px;
}

.svg-eye-off {
	@extend %svg-common;
	background-position: 66.85082872928177% 14.243323442136498%;
	width: 24px;
	height: 24px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 0 0;
	width: 25px;
	height: 25px;
}

.svg-fast-forward {
	@extend %svg-common;
	background-position: 66.85082872928177% 21.364985163204746%;
	width: 24px;
	height: 24px;
}

.svg-film {
	@extend %svg-common;
	background-position: 66.85082872928177% 28.486646884272997%;
	width: 24px;
	height: 24px;
}

.svg-filter {
	@extend %svg-common;
	background-position: 66.85082872928177% 35.60830860534124%;
	width: 24px;
	height: 24px;
}

.svg-finger-print {
	@extend %svg-common;
	background-position: 66.85082872928177% 42.72997032640949%;
	width: 24px;
	height: 24px;
}

.svg-fire {
	@extend %svg-common;
	background-position: 66.85082872928177% 49.85163204747774%;
	width: 24px;
	height: 24px;
}

.svg-flag {
	@extend %svg-common;
	background-position: 66.85082872928177% 56.97329376854599%;
	width: 24px;
	height: 24px;
}

.svg-folder {
	@extend %svg-common;
	background-position: 66.85082872928177% 64.09495548961425%;
	width: 24px;
	height: 24px;
}

.svg-folder-add {
	@extend %svg-common;
	background-position: 0 71.513353115727%;
	width: 24px;
	height: 24px;
}

.svg-folder-download {
	@extend %svg-common;
	background-position: 6.629834254143646% 71.513353115727%;
	width: 24px;
	height: 24px;
}

.svg-folder-open {
	@extend %svg-common;
	background-position: 13.259668508287293% 71.513353115727%;
	width: 24px;
	height: 24px;
}

.svg-folder-remove {
	@extend %svg-common;
	background-position: 19.88950276243094% 71.513353115727%;
	width: 24px;
	height: 24px;
}

.svg-gift {
	@extend %svg-common;
	background-position: 26.519337016574585% 71.513353115727%;
	width: 24px;
	height: 24px;
}

.svg-globe {
	@extend %svg-common;
	background-position: 33.149171270718234% 71.513353115727%;
	width: 24px;
	height: 24px;
}

.svg-globe-alt {
	@extend %svg-common;
	background-position: 39.77900552486188% 71.513353115727%;
	width: 24px;
	height: 24px;
}

.svg-hand {
	@extend %svg-common;
	background-position: 46.408839779005525% 71.513353115727%;
	width: 24px;
	height: 24px;
}

.svg-hashtag {
	@extend %svg-common;
	background-position: 53.03867403314917% 71.513353115727%;
	width: 24px;
	height: 24px;
}

.svg-heart {
	@extend %svg-common;
	background-position: 59.668508287292816% 71.513353115727%;
	width: 24px;
	height: 24px;
}

.svg-home {
	@extend %svg-common;
	background-position: 66.29834254143647% 71.513353115727%;
	width: 24px;
	height: 24px;
}

.svg-identification {
	@extend %svg-common;
	background-position: 73.48066298342542% 0;
	width: 24px;
	height: 24px;
}

.svg-inbox {
	@extend %svg-common;
	background-position: 73.48066298342542% 7.121661721068249%;
	width: 24px;
	height: 24px;
}

.svg-inbox-in {
	@extend %svg-common;
	background-position: 73.48066298342542% 14.243323442136498%;
	width: 24px;
	height: 24px;
}

.svg-information-circle {
	@extend %svg-common;
	background-position: 73.48066298342542% 21.364985163204746%;
	width: 24px;
	height: 24px;
}

.svg-key {
	@extend %svg-common;
	background-position: 73.48066298342542% 28.486646884272997%;
	width: 24px;
	height: 24px;
}

.svg-library {
	@extend %svg-common;
	background-position: 73.48066298342542% 35.60830860534124%;
	width: 24px;
	height: 24px;
}

.svg-light-bulb {
	@extend %svg-common;
	background-position: 73.48066298342542% 42.72997032640949%;
	width: 24px;
	height: 24px;
}

.svg-lightning-bolt {
	@extend %svg-common;
	background-position: 73.48066298342542% 49.85163204747774%;
	width: 24px;
	height: 24px;
}

.svg-link {
	@extend %svg-common;
	background-position: 73.48066298342542% 56.97329376854599%;
	width: 24px;
	height: 24px;
}

.svg-linkedin {
	@extend %svg-common;
	background-position: 6.925207756232687% 0;
	width: 25px;
	height: 24px;
}

.svg-location-marker {
	@extend %svg-common;
	background-position: 73.48066298342542% 64.09495548961425%;
	width: 24px;
	height: 24px;
}

.svg-lock-closed {
	@extend %svg-common;
	background-position: 73.48066298342542% 71.21661721068249%;
	width: 24px;
	height: 24px;
}

.svg-lock-open {
	@extend %svg-common;
	background-position: 0 78.63501483679525%;
	width: 24px;
	height: 24px;
}

.svg-login {
	@extend %svg-common;
	background-position: 6.629834254143646% 78.63501483679525%;
	width: 24px;
	height: 24px;
}

.svg-logout {
	@extend %svg-common;
	background-position: 13.259668508287293% 78.63501483679525%;
	width: 24px;
	height: 24px;
}

.svg-mail {
	@extend %svg-common;
	background-position: 19.88950276243094% 78.63501483679525%;
	width: 24px;
	height: 24px;
}

.svg-mail-open {
	@extend %svg-common;
	background-position: 26.519337016574585% 78.63501483679525%;
	width: 24px;
	height: 24px;
}

.svg-map {
	@extend %svg-common;
	background-position: 33.149171270718234% 78.63501483679525%;
	width: 24px;
	height: 24px;
}

.svg-menu {
	@extend %svg-common;
	background-position: 39.77900552486188% 78.63501483679525%;
	width: 24px;
	height: 24px;
}

.svg-menu-alt-1 {
	@extend %svg-common;
	background-position: 46.408839779005525% 78.63501483679525%;
	width: 24px;
	height: 24px;
}

.svg-menu-alt-2 {
	@extend %svg-common;
	background-position: 53.03867403314917% 78.63501483679525%;
	width: 24px;
	height: 24px;
}

.svg-menu-alt-3 {
	@extend %svg-common;
	background-position: 59.668508287292816% 78.63501483679525%;
	width: 24px;
	height: 24px;
}

.svg-menu-alt-4 {
	@extend %svg-common;
	background-position: 66.29834254143647% 78.63501483679525%;
	width: 24px;
	height: 24px;
}

.svg-microphone {
	@extend %svg-common;
	background-position: 72.92817679558011% 78.63501483679525%;
	width: 24px;
	height: 24px;
}

.svg-minus {
	@extend %svg-common;
	background-position: 80.11049723756906% 0;
	width: 24px;
	height: 24px;
}

.svg-minus-circle {
	@extend %svg-common;
	background-position: 80.11049723756906% 7.121661721068249%;
	width: 24px;
	height: 24px;
}

.svg-minus-sm {
	@extend %svg-common;
	background-position: 80.11049723756906% 14.243323442136498%;
	width: 24px;
	height: 24px;
}

.svg-moon {
	@extend %svg-common;
	background-position: 80.11049723756906% 21.364985163204746%;
	width: 24px;
	height: 24px;
}

.svg-music-note {
	@extend %svg-common;
	background-position: 80.11049723756906% 28.486646884272997%;
	width: 24px;
	height: 24px;
}

.svg-newspaper {
	@extend %svg-common;
	background-position: 80.11049723756906% 35.60830860534124%;
	width: 24px;
	height: 24px;
}

.svg-office-building {
	@extend %svg-common;
	background-position: 80.11049723756906% 42.72997032640949%;
	width: 24px;
	height: 24px;
}

.svg-paper-airplane {
	@extend %svg-common;
	background-position: 80.11049723756906% 49.85163204747774%;
	width: 24px;
	height: 24px;
}

.svg-paper-clip {
	@extend %svg-common;
	background-position: 80.11049723756906% 56.97329376854599%;
	width: 24px;
	height: 24px;
}

.svg-pause {
	@extend %svg-common;
	background-position: 80.11049723756906% 64.09495548961425%;
	width: 24px;
	height: 24px;
}

.svg-pencil {
	@extend %svg-common;
	background-position: 80.11049723756906% 71.21661721068249%;
	width: 24px;
	height: 24px;
}

.svg-pencil-alt {
	@extend %svg-common;
	background-position: 80.11049723756906% 78.33827893175074%;
	width: 24px;
	height: 24px;
}

.svg-phone {
	@extend %svg-common;
	background-position: 0 85.7566765578635%;
	width: 24px;
	height: 24px;
}

.svg-phone-incoming {
	@extend %svg-common;
	background-position: 6.629834254143646% 85.7566765578635%;
	width: 24px;
	height: 24px;
}

.svg-phone-missed-call {
	@extend %svg-common;
	background-position: 13.259668508287293% 85.7566765578635%;
	width: 24px;
	height: 24px;
}

.svg-phone-outgoing {
	@extend %svg-common;
	background-position: 19.88950276243094% 85.7566765578635%;
	width: 24px;
	height: 24px;
}

.svg-photograph {
	@extend %svg-common;
	background-position: 26.519337016574585% 85.7566765578635%;
	width: 24px;
	height: 24px;
}

.svg-play {
	@extend %svg-common;
	background-position: 33.149171270718234% 85.7566765578635%;
	width: 24px;
	height: 24px;
}

.svg-plus {
	@extend %svg-common;
	background-position: 39.77900552486188% 85.7566765578635%;
	width: 24px;
	height: 24px;
}

.svg-plus-circle {
	@extend %svg-common;
	background-position: 46.408839779005525% 85.7566765578635%;
	width: 24px;
	height: 24px;
}

.svg-plus-sm {
	@extend %svg-common;
	background-position: 53.03867403314917% 85.7566765578635%;
	width: 24px;
	height: 24px;
}

.svg-presentation-chart-bar {
	@extend %svg-common;
	background-position: 59.668508287292816% 85.7566765578635%;
	width: 24px;
	height: 24px;
}

.svg-presentation-chart-line {
	@extend %svg-common;
	background-position: 66.29834254143647% 85.7566765578635%;
	width: 24px;
	height: 24px;
}

.svg-printer {
	@extend %svg-common;
	background-position: 72.92817679558011% 85.7566765578635%;
	width: 24px;
	height: 24px;
}

.svg-puzzle {
	@extend %svg-common;
	background-position: 79.55801104972376% 85.7566765578635%;
	width: 24px;
	height: 24px;
}

.svg-qrcode {
	@extend %svg-common;
	background-position: 86.74033149171271% 0;
	width: 24px;
	height: 24px;
}

.svg-question-mark-circle {
	@extend %svg-common;
	background-position: 86.74033149171271% 7.121661721068249%;
	width: 24px;
	height: 24px;
}

.svg-receipt-refund {
	@extend %svg-common;
	background-position: 86.74033149171271% 14.243323442136498%;
	width: 24px;
	height: 24px;
}

.svg-receipt-tax {
	@extend %svg-common;
	background-position: 86.74033149171271% 21.364985163204746%;
	width: 24px;
	height: 24px;
}

.svg-refresh {
	@extend %svg-common;
	background-position: 86.74033149171271% 28.486646884272997%;
	width: 24px;
	height: 24px;
}

.svg-reply {
	@extend %svg-common;
	background-position: 86.74033149171271% 35.60830860534124%;
	width: 24px;
	height: 24px;
}

.svg-rewind {
	@extend %svg-common;
	background-position: 86.74033149171271% 42.72997032640949%;
	width: 24px;
	height: 24px;
}

.svg-rss {
	@extend %svg-common;
	background-position: 86.74033149171271% 49.85163204747774%;
	width: 24px;
	height: 24px;
}

.svg-save {
	@extend %svg-common;
	background-position: 86.74033149171271% 56.97329376854599%;
	width: 24px;
	height: 24px;
}

.svg-save-as {
	@extend %svg-common;
	background-position: 86.74033149171271% 64.09495548961425%;
	width: 24px;
	height: 24px;
}

.svg-scale {
	@extend %svg-common;
	background-position: 86.74033149171271% 71.21661721068249%;
	width: 24px;
	height: 24px;
}

.svg-scissors {
	@extend %svg-common;
	background-position: 86.74033149171271% 78.33827893175074%;
	width: 24px;
	height: 24px;
}

.svg-search {
	@extend %svg-common;
	background-position: 86.74033149171271% 85.45994065281899%;
	width: 24px;
	height: 24px;
}

.svg-search-circle {
	@extend %svg-common;
	background-position: 0 92.87833827893175%;
	width: 24px;
	height: 24px;
}

.svg-selector {
	@extend %svg-common;
	background-position: 6.629834254143646% 92.87833827893175%;
	width: 24px;
	height: 24px;
}

.svg-server {
	@extend %svg-common;
	background-position: 13.259668508287293% 92.87833827893175%;
	width: 24px;
	height: 24px;
}

.svg-share {
	@extend %svg-common;
	background-position: 19.88950276243094% 92.87833827893175%;
	width: 24px;
	height: 24px;
}

.svg-shield-check {
	@extend %svg-common;
	background-position: 26.519337016574585% 92.87833827893175%;
	width: 24px;
	height: 24px;
}

.svg-shield-exclamation {
	@extend %svg-common;
	background-position: 33.149171270718234% 92.87833827893175%;
	width: 24px;
	height: 24px;
}

.svg-shopping-bag {
	@extend %svg-common;
	background-position: 39.77900552486188% 92.87833827893175%;
	width: 24px;
	height: 24px;
}

.svg-shopping-cart {
	@extend %svg-common;
	background-position: 46.408839779005525% 92.87833827893175%;
	width: 24px;
	height: 24px;
}

.svg-sort-ascending {
	@extend %svg-common;
	background-position: 53.03867403314917% 92.87833827893175%;
	width: 24px;
	height: 24px;
}

.svg-sort-descending {
	@extend %svg-common;
	background-position: 59.668508287292816% 92.87833827893175%;
	width: 24px;
	height: 24px;
}

.svg-sparkles {
	@extend %svg-common;
	background-position: 66.29834254143647% 92.87833827893175%;
	width: 24px;
	height: 24px;
}

.svg-speakerphone {
	@extend %svg-common;
	background-position: 72.92817679558011% 92.87833827893175%;
	width: 24px;
	height: 24px;
}

.svg-star {
	@extend %svg-common;
	background-position: 79.55801104972376% 92.87833827893175%;
	width: 24px;
	height: 24px;
}

.svg-status-offline {
	@extend %svg-common;
	background-position: 86.1878453038674% 92.87833827893175%;
	width: 24px;
	height: 24px;
}

.svg-status-online {
	@extend %svg-common;
	background-position: 93.37016574585635% 0;
	width: 24px;
	height: 24px;
}

.svg-stop {
	@extend %svg-common;
	background-position: 93.37016574585635% 7.121661721068249%;
	width: 24px;
	height: 24px;
}

.svg-sun {
	@extend %svg-common;
	background-position: 93.37016574585635% 14.243323442136498%;
	width: 24px;
	height: 24px;
}

.svg-support {
	@extend %svg-common;
	background-position: 93.37016574585635% 21.364985163204746%;
	width: 24px;
	height: 24px;
}

.svg-switch-horizontal {
	@extend %svg-common;
	background-position: 93.37016574585635% 28.486646884272997%;
	width: 24px;
	height: 24px;
}

.svg-switch-vertical {
	@extend %svg-common;
	background-position: 93.37016574585635% 35.60830860534124%;
	width: 24px;
	height: 24px;
}

.svg-table {
	@extend %svg-common;
	background-position: 93.37016574585635% 42.72997032640949%;
	width: 24px;
	height: 24px;
}

.svg-tag {
	@extend %svg-common;
	background-position: 93.37016574585635% 49.85163204747774%;
	width: 24px;
	height: 24px;
}

.svg-template {
	@extend %svg-common;
	background-position: 93.37016574585635% 56.97329376854599%;
	width: 24px;
	height: 24px;
}

.svg-terminal {
	@extend %svg-common;
	background-position: 93.37016574585635% 64.09495548961425%;
	width: 24px;
	height: 24px;
}

.svg-thumb-down {
	@extend %svg-common;
	background-position: 93.37016574585635% 71.21661721068249%;
	width: 24px;
	height: 24px;
}

.svg-thumb-up {
	@extend %svg-common;
	background-position: 93.37016574585635% 78.33827893175074%;
	width: 24px;
	height: 24px;
}

.svg-ticket {
	@extend %svg-common;
	background-position: 93.37016574585635% 85.45994065281899%;
	width: 24px;
	height: 24px;
}

.svg-translate {
	@extend %svg-common;
	background-position: 93.37016574585635% 92.58160237388724%;
	width: 24px;
	height: 24px;
}

.svg-trash {
	@extend %svg-common;
	background-position: 0 100%;
	width: 24px;
	height: 24px;
}

.svg-trending-down {
	@extend %svg-common;
	background-position: 6.629834254143646% 100%;
	width: 24px;
	height: 24px;
}

.svg-trending-up {
	@extend %svg-common;
	background-position: 13.259668508287293% 100%;
	width: 24px;
	height: 24px;
}

.svg-truck {
	@extend %svg-common;
	background-position: 19.88950276243094% 100%;
	width: 24px;
	height: 24px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 0 7.4183976261127595%;
	width: 25px;
	height: 24px;
}

.svg-upload {
	@extend %svg-common;
	background-position: 26.519337016574585% 100%;
	width: 24px;
	height: 24px;
}

.svg-user {
	@extend %svg-common;
	background-position: 33.149171270718234% 100%;
	width: 24px;
	height: 24px;
}

.svg-user-add {
	@extend %svg-common;
	background-position: 39.77900552486188% 100%;
	width: 24px;
	height: 24px;
}

.svg-user-circle {
	@extend %svg-common;
	background-position: 46.408839779005525% 100%;
	width: 24px;
	height: 24px;
}

.svg-user-group {
	@extend %svg-common;
	background-position: 53.03867403314917% 100%;
	width: 24px;
	height: 24px;
}

.svg-user-remove {
	@extend %svg-common;
	background-position: 59.668508287292816% 100%;
	width: 24px;
	height: 24px;
}

.svg-users {
	@extend %svg-common;
	background-position: 66.29834254143647% 100%;
	width: 24px;
	height: 24px;
}

.svg-variable {
	@extend %svg-common;
	background-position: 72.92817679558011% 100%;
	width: 24px;
	height: 24px;
}

.svg-video-camera {
	@extend %svg-common;
	background-position: 79.55801104972376% 100%;
	width: 24px;
	height: 24px;
}

.svg-view-boards {
	@extend %svg-common;
	background-position: 86.1878453038674% 100%;
	width: 24px;
	height: 24px;
}

.svg-view-grid {
	@extend %svg-common;
	background-position: 92.81767955801105% 100%;
	width: 24px;
	height: 24px;
}

.svg-view-grid-add {
	@extend %svg-common;
	background-position: 100% 0;
	width: 24px;
	height: 24px;
}

.svg-view-list {
	@extend %svg-common;
	background-position: 100% 7.121661721068249%;
	width: 24px;
	height: 24px;
}

.svg-volume-off {
	@extend %svg-common;
	background-position: 100% 14.243323442136498%;
	width: 24px;
	height: 24px;
}

.svg-volume-up {
	@extend %svg-common;
	background-position: 100% 21.364985163204746%;
	width: 24px;
	height: 24px;
}

.svg-wifi {
	@extend %svg-common;
	background-position: 100% 28.486646884272997%;
	width: 24px;
	height: 24px;
}

.svg-x {
	@extend %svg-common;
	background-position: 100% 35.60830860534124%;
	width: 24px;
	height: 24px;
}

.svg-x-circle {
	@extend %svg-common;
	background-position: 100% 42.72997032640949%;
	width: 24px;
	height: 24px;
}

.svg-youtube {
	@extend %svg-common;
	background-position: 6.925207756232687% 7.4183976261127595%;
	width: 25px;
	height: 24px;
}

.svg-zoom-in {
	@extend %svg-common;
	background-position: 100% 49.85163204747774%;
	width: 24px;
	height: 24px;
}

.svg-zoom-out {
	@extend %svg-common;
	background-position: 100% 56.97329376854599%;
	width: 24px;
	height: 24px;
}

