.btn {
  letter-spacing: -0.035em;
  font-weight: $font-weight-semibold;
}

.btn-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
  padding: 0;
}

[data-toggle] {
  .toggleText::before {
    content: attr(data-default)
  }
  &[aria-expanded=true] {
    .toggleText::before {
      content: attr(data-toggled)
    }
  }
}