.btn {
  letter-spacing: 1px;
  font-weight: $font-weight-bold;
}

.btn-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
  padding: 0;
}
