.btn {
  letter-spacing: -0.035em;
  font-weight: $font-weight-normal;
}

.btn-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
  padding: 0;
}
