select.form-control {
  appearance: none;
  -webkit-appearance: none;
  background: white url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.59375 1L5.59375 5L1.59375 1' stroke='%2369788B' stroke-opacity='0.8' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ") right 1rem center no-repeat;
//   <svg width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
// <path d="M9.59375 1L5.59375 5L1.59375 1" stroke="#69788B" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
// </svg>
}

.form-contact.com {
  overflow: hidden;
  border-radius: $border-radius;
  &.--type-1 {
    padding: 4px;
    background: linear-gradient(
      177.68deg,
      #ff4e00 29.84%,
      rgba(255, 78, 0, 0.22) 95.19%
    );
  }

  .bg {
    height: 100%;
    overflow: hidden;
    background: linear-gradient(
      theme-color('secondary'),
      theme-color('primary')
    );
    position: relative;
    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
    }
    &.--bg1:before {
      background-image: url(../../assets/img/bg-form-1.jpg);
    }
    &.--bg2:before {
      background-image: url(../../assets/img/bg-form-2.jpg);
    }
    .in {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 3;
    }
    .box-person {
      width: 328px;
      height: 422px;
      padding: 38px;
      background: #ffffff;
      box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.16);
      border-radius: 8px;
      display: flex;
      text-align: center;
      flex-direction: column;
      picture {
        background: #b6aaaa;
        width: 125px;
        height: 125px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .in {
      padding: 40px 20px;
    }
  }
}
