.row.gutters-sm {
  margin-right: -$grid-gutter-width-sm * 0.5;
  margin-left: -$grid-gutter-width-sm * 0.5;
  [class^='col'] {
    padding-right: $grid-gutter-width-sm * 0.5;
    padding-left: $grid-gutter-width-sm * 0.5;
  }
}
