@import 'utilities/overflow';
@import 'utilities/sizes';
@import 'utilities/height';
@import 'utilities/rotate';
@import 'utilities/borders';
@import 'utilities/background';
@import 'utilities/text';
@import 'utilities/equals';
@import 'utilities/hover';
@import 'components/list-groups';
@import 'type';
@import 'header';
@import 'navbar';
@import 'footer';
@import 'perex';
@import 'gallery';
@import 'showcase';
@import 'card-carousel';
@import 'tabs';
@import 'teaser';
@import 'teaser-hp';
@import 'numbers';
@import 'logo-partners';
@import 'box-list';
@import 'team-list';
@import 'history-list-box';
@import 'quote-list-box';
@import 'video-box';
@import 'fancy-nav';
@import 'mobile-nav';

// ePOHONY
@import 'topbar';
@import 'sidemenu';
@import 'image-showcase';
@import 'buttons';
@import 'shadow';
@import 'card';
@import 'product';
@import 'forms';
@import 'icons';
@import 'plugins/owl.carousel';
@import 'map';
@import 'dropdown';

// Utils (TODO - separate)
.border-dashed {
  border: 2px dashed #ffb59566 !important;
}

.translate-y-middle {
  transform: translateY(-50%);
}

.z-index-4 {
  z-index: 4;
}
