.logo-partners-wrapper.com {
  display: block;
}

.logo-partners.com {
  @extend .shadow-primary;
  display: flex;
  height: rem-calc(104);
  width: 100%;
  margin-top: $grid-gutter-width / 4;
  margin-bottom: $grid-gutter-width / 4;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: white;
  border-radius: $border-radius;
  picture,
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
