.navbar {
  height: $navbar-height;
  justify-content: space-between;
  .nav-link {
    font-size: $navbar-font-size;
  }
  .nav-item:last-child {
    .nav-link {
      padding-right: 0;
    }
  }
  @include media-breakpoint-down($fancynav-breakpoint-down) {
    height: $navbar-height-mobile;
    .navbar-brand {
      max-width: 80%;
    }
  }
}
