.navbar {
  background: $navbar-bg;
  height: $navbar-height;
  justify-content: space-between;
  padding: 0;
  a.nav-link {
    color: $black;
    &:hover {
      color: $primary;
    }
  }
  .search {
    input[type='text'] {
      border-color: rgba(210, 77, 18, 0.25);
      padding-left: 42px;
      width: 120px;
      font-size: rem-calc(17);
      transition: width 0.5s;
      background: url('../../assets/img/ico-search.svg') no-repeat 15px 50%;
      &:focus {
        width: 200px;
      }
    }
  }
  @include media-breakpoint-down($fancynav-breakpoint-down) {
    height: $navbar-height-mobile;
    .navbar-brand {
      max-width: 80%;
    }
  }
}
.navbar-nav .nav-link {
  font-size: rem-calc(17);
}
