.teaser {
  picture {
    padding: 16px 16px 16px 0;
  }
  img {
    position: relative;
    z-index: 3;
  }

  // Indicator
  &__indicator {
    background: $gray-400;
    height: 2px;
    &__in {
      background: $primary;
      height: 100%;
    }
  }

  // Decorations
  &__decoration-1 {
    border-radius: $border-radius-lg;
    position: absolute;
    &--orange {
      background: #FBC521;
      top: 0;
      right: 0;
      left: 104px;
      bottom: 0;
      z-index: 2;
    }
    &--blue {
      background: linear-gradient(55deg, #19ACDE 11%, #BCD7E1 80%);
      top: 78px;
      right: 0;
      left: 32px;
      bottom: 0;
      z-index: 2;
    }
  }
}
