// Font import
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600;700&display=swap');

// Grid
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1344px,
);

// Border
$border-radius: 4px;
$border-radius-lg: 4px;
$border-radius-sm: 2px;

// Gradients
$gradient-primary: linear-gradient(to right, #064f8d 5%, #2377bf 85%);
$gradient-secondary: linear-gradient(
  135deg,
  #4294cc 0%,
  rgba(66, 148, 204, 0) 60%
);

// Grid
$grid-gutter-width: 24px;
$grid-gutter-width-sm: 4px;
$grid-gutter-width-md: 8px;

// Colors
$white:    #fff !default;
$gray-100: #f2f3f7 !default;
$gray-200: #C4C8E0 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue: #106ab6;
$blueLight: #3FAEBD;
$purlpe: #6E4EB0;
$red: #bc0f0f;
$orange: #ff4e00;
$yellow: #fbc521;
$green: #6DD208;
$blue-dark: #071529;

$primary: $blue;
$secondary: $yellow;

$theme-colors: (
  'white': $white,
  'black': $black,
  'red': $red,
  'green': $green,
  'shipping': #c4eb84,
  'instock': #b1cbf2,
  'sale': $yellow,
  'tip': $blueLight,
  'new': $red,
  'action': $purlpe
);

$text-muted: $gray-500 !default;

// Body
$body-bg: #F9F9F9;
$body-color: $black;

// Fonts
$rfs-rem-value: 18 !default;

$font-size-base: 1rem !default;
$small-font-size: 88.9% !default;
$micro-font-size: rem-calc(15);
$micro-font-line-height: 1.06;

$h1-font-size: 60px !default;
$h2-font-size: 56px !default;
$h3-font-size: 40px !default;
$h4-font-size: 32px !default;
$h5-font-size: 24px !default;
$h6-font-size: 20px !default;

$font-family-sans-serif: 'Bai Jamjuree', sans-serif !default;
$font-family-serif: 'Bai Jamjuree', sans-serif !default;
$font-family-base: $font-family-serif !default;
$font-weight-bold: 700 !default;
$font-weight-semibold: 600 !default;
$font-weight-regular: 400 !default;
$font-weight-thin: 300 !default;

$line-height-base: 1.555;

$letter-spacing-sm: -0.035em;

// Headings
$headings-color: $black !default;
$headings-margin-bottom: 1.2rem;
$headings-font-weight: $font-weight-bold;
$headings-letter-spacing: $letter-spacing-sm;
$h1-line-height: 1.2;
$h2-line-height: 1;
$h3-line-height: 1.2;
$h4-line-height: 1.25;
$h5-line-height: 1.333;
$h6-line-height: 1.6;

// Line heights (%)
$line-heights: (100, 115, 120, 125, 133, 140, 150, 160);

// Transparency levels (%)
$transparency-levels: (10, 20, 25, 40, 50, 60, 75, 80);

// Transitions
$transition-primary: transform 0.15s, color 0.15s ease-in-out,
  background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out !default;

// Buttons & controlls
$input-btn-font-size: 1rem !default;
$input-btn-padding-x: 1rem !default;
$input-btn-padding-y: 0.4rem !default;

$input-btn-font-size-lg: 1rem !default;
$input-btn-padding-x-lg: 1rem !default;
$input-btn-padding-y-lg: 1.2rem !default;

$input-btn-font-size-sm: 0.8888rem;
$input-btn-padding-x-sm: 0.5rem !default;
$input-btn-padding-y-sm: 0.4rem !default;

$input-color: $black;
$input-placeholder-color: #ddd;
$input-border-color: #ABB6E4;

// Tags
$tag-padding-y: 0.25em;
$tag-padding-x: 0.5em;
$tag-border-radius: $border-radius-lg;
$tag-font-weight: $font-weight-regular;

// Navbar
$navbar-bg: transparent;
$navbar-height: auto;
$navbar-height-mobile: 80px;
$navbar-padding-x: 0 !default;
$navbar-padding-y: 0 !default;
$navbar-light-color: $black;
$navbar-light-hover-color: $yellow;
$navbar-nav-link-padding-x: 10px !default;
$navbar-font-size: rem-calc(15);

// Topnavbar
$topnavbar-height: 32px;
$topnavbar-font-size: rem-calc(15);

// Cards
$card-columns-count: 2 !default;
$card-border-width: 0 !default;

// Tables
$table-th-font-weight: $font-weight-semibold;
$table-accent-bg: $gray-100;
$table-hover-bg: #fdea3f1f;

// Breadcrumb
$breadcrumb-divider: quote('/');
$breadcrumb-margin-bottom: 0;
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-bg: transparent;
$breadcrumb-active-color: $black;
$breadcrumb-divider-color: $black;
$breadcrumb-font-size: 14px;

// Spacers
$spacer: 0.88888rem !default;
$spacers: () !default;
$spacers: map-merge(
  $spacers,
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
      // 24px
    ),
    5: (
      $spacer * 3,
      // 48px
    ),
    6: (
      $spacer * 4.5,
      // 72px
    ),
    7: (
      $spacer * 6,
      // 96px
    ),
    8: (
      $spacer * 7.5,
      // 120px
    ),
    9: (
      $spacer * 10,
      // 160px
    ),
    10: (
      $spacer * 15,
      // 240px
    ),
  )
);

// Square size (.sx- ) & min-height sizes
$square-sizes: (
  8,
  16,
  24,
  32,
  40,
  48,
  56,
  64,
  72,
  80,
  88,
  96,
  104,
  112,
  120,
  196
);

// Fancy nav
$fancynav-width: 4.375rem !default;
$fancynav-breakpoint-up: lg !default;
$fancynav-breakpoint-down: md !default;
$fancynavHeight: 3rem !default;
$fancynav-collapse-bg: $primary !default;
$fancynav-color: $white !default;
$fancynav-link-color: $white !default;
$fancynav-link-hover: $black !default;
$fancynav-sublink-color: rgba($fancynav-link-color, 0.9);
$fancynav-opacity: 1;
$fancynav-side-stripe-bg1: $primary;
$fancynav-side-stripe-bg2: rgba($primary, 0);

// Offcanvas
$offcanvas-padding-y:               1rem;
$offcanvas-padding-x:               1rem;
$offcanvas-horizontal-width:        75vw;
$offcanvas-vertical-height:         75vh;
$offcanvas-transition-duration:     .3s;
$offcanvas-border-color:            rgba($black, .2);
$offcanvas-border-width:            0;
$offcanvas-title-line-height:       $line-height-base;
$offcanvas-bg-color:                $white;
$offcanvas-color:                   null;
$offcanvas-box-shadow:              none;
$offcanvas-backdrop-bg:             $black;
$offcanvas-backdrop-opacity:        0.5;

// Z indexes
$zindex-offcanvas-backdrop: 1040;
$zindex-offcanvas: 1045;
$zindex-modal-backdrop: 1040;

// Old z-indexes
$z-index-fancybar-close: 104;
$z-index-fancybar-collapse: 103;
$z-index-fancybar: 102;
$z-index-nav-overlay: 101;
$z-index-box-list-overlay: 11;
$z-index-gmapbox: 10;
$z-index-video-box-play: 4;
$z-index-video-box-overlay: 3;
$z-index-teaser-in: 3;
$z-index-teaser: 2;