.rotate-l-5 {
  transform: rotate(-5deg);
}
.rotate-l-10 {
  transform: rotate(-10deg);
}
.rotate-l-15 {
  transform: rotate(-15deg);
}
.rotate-l-20 {
  transform: rotate(-20deg);
}
.rotate-l-25 {
  transform: rotate(-25deg);
}
.rotate-l-30 {
  transform: rotate(-30deg);
}
.rotate-l-35 {
  transform: rotate(-35deg);
}
.rotate-l-40 {
  transform: rotate(-40deg);
}
.rotate-l-45 {
  transform: rotate(-45deg);
}
.rotate-l-50 {
  transform: rotate(-50deg);
}
.rotate-l-55 {
  transform: rotate(-55deg);
}
.rotate-l-60 {
  transform: rotate(-60deg);
}
.rotate-l-65 {
  transform: rotate(-65deg);
}
.rotate-l-70 {
  transform: rotate(-70deg);
}
.rotate-l-75 {
  transform: rotate(-75deg);
}
.rotate-l-80 {
  transform: rotate(-80deg);
}
.rotate-l-85 {
  transform: rotate(-85deg);
}
.rotate-l-90 {
  transform: rotate(-90deg);
}
.rotate-r-5 {
  transform: rotate(5deg);
}
.rotate-r-10 {
  transform: rotate(10deg);
}
.rotate-r-15 {
  transform: rotate(15deg);
}
.rotate-r-20 {
  transform: rotate(20deg);
}
.rotate-r-25 {
  transform: rotate(25deg);
}
.rotate-r-30 {
  transform: rotate(30deg);
}
.rotate-r-35 {
  transform: rotate(35deg);
}
.rotate-r-40 {
  transform: rotate(40deg);
}
.rotate-r-45 {
  transform: rotate(45deg);
}
.rotate-r-50 {
  transform: rotate(50deg);
}
.rotate-r-55 {
  transform: rotate(55deg);
}
.rotate-r-60 {
  transform: rotate(60deg);
}
.rotate-r-65 {
  transform: rotate(65deg);
}
.rotate-r-70 {
  transform: rotate(70deg);
}
.rotate-r-75 {
  transform: rotate(75deg);
}
.rotate-r-80 {
  transform: rotate(80deg);
}
.rotate-r-85 {
  transform: rotate(85deg);
}
.rotate-r-90 {
  transform: rotate(90deg);
}
