@each $breakpoint in map_keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $size in $square-sizes {
      .sx#{$infix}-#{$size} {
        width: $size + px !important;
        height: $size + px !important;
      }
    }
  }
}
