/* Decoration */
.text-underline {
  text-decoration: underline;
  text-decoration-skip: ink;
}

.text-none,
.text-none:hover {
  text-decoration: none;
}

.text-smallcaps {
  font-variant: small-caps;
}

.font-weight-semibold {
  font-weight: $font-weight-semibold;
}

/*-----------------------------------------------
|   Font family
-----------------------------------------------*/
.text-serif {
  font-family: $font-family-serif;
}
.text-sans-serif {
  font-family: $font-family-sans-serif;
}

/*-----------------------------------------------
|   Contextual colors
-----------------------------------------------*/
@each $color, $value in $grays {
  @include text-emphasis-variant('.text-#{$color}', $value, true);
}

// Line heights
@each $line-height in $line-heights {
  .line-h-#{$line-height} {
    line-height: percentage($line-height / 100) !important;
  }
}
