include ../mixins/picture
include ../mixins/sprite


.box-list.com.--type-1
    .row
        .col-12.col-md-3
            a(href="#").item.--enter
                h5 Laculis ac consectetur integer viverra elit. Vehicula commodo augue malesuada
                +sprite('arrow-narrow-right', "s-24")
        .col-6.col-md
            .item
                .num 01
                p.headline  TÜV SÜD<br>ISO9001
                +picture('samples/price-logo-1@1x.png', 'samples/price-logo-1@2x.png')
        .col-6.col-md
            .item
                .num 02
                p.headline  TÜV SÜD<br>ISO9001
                +picture('samples/price-logo-1@1x.png', 'samples/price-logo-1@2x.png')
        .col-6.col-md
            .item
                .num 02
                p.headline  TÜV SÜD<br>ISO9001
                +picture('samples/price-logo-1@1x.png', 'samples/price-logo-1@2x.png')
        .col-6.col-md
            .item
                .num 02
                p.headline  TÜV SÜD<br>ISO9001
                +picture('samples/price-logo-1@1x.png', 'samples/price-logo-1@2x.png')
