include ../mixins/picture
include ../mixins/sprite

.box-list.com.--type-3
    .row
        - var n = 0;
        while n < 11
            .col-6.col-md-4.col-lg-2
                .item
                    .top
                        +sprite('document-download', "s-64 text-primary")
                    .bottom
                        h6 ISO 9001
                        p PDF,150 KB
                        a(href="#").link
                            | Stáhnout
                            +sprite('arrow-narrow-right', "s-24")
            -n++