//- Mixins
include ../mixins/picture
include ../mixins/sprite

.box-list.com.--type-5
    .row
        - var n = 0;
        while n < 3
            .col-12.col-md-4
                .item
                    .top
                        h4.num-circle #{n+1}
                    .bottom
                        p Naše společnosti má vyhodnocena všechna rizika v souladu s normou ČSN ISO 9001:2016. V rámci poskytování služeb v oblasti kvality splňujeme požadavky zákazníků z oblasti automotive.
            -n++