//- Mixins
include ../mixins/picture
include ../mixins/sprite

.container
    .box-list.com.--type-2
        .row
            .col-12.col-md-3
                a(href="#!").item.--enter
                    h5 Headline lorem ipsum dolor sit amet senec et labroam dec ligram
                    +sprite('arrow-narrow-right', "s-24")
            - var n = 0;
            while n < 3
                .col-6.col-md
                    .item
                        .top
                            //+sprite('badge-check', "s-64 text-primary")
                            +sprite("lock-open", "s-16")
                        .bottom
                            p Nemáte nutnost zaměstnávat vlastní OZP
                -n++