include ../mixins/picture
include ../mixins/sprite

.family-block.com
    .row
        .col-12.col-md-5(data-zanim-xs='{"animation":"zoom-in","delay":0.5}' data-zanim-trigger="scroll")
            +picture("samples/infografika@1x.png", "samples/infografika@2x.png")
        .col-md-1
        .col-12.col-md-6(data-zanim-xs='{"animation":"slide-left","delay":1}' data-zanim-trigger="scroll")
            .subhead.com.--right Naši partneři
            h2  Jsme velká a spokojená rodina, jsme QPAG – Quality Produciton Assurance Group