//- Mixins
include ../mixins/picture
include ../mixins/sprite

.container.my-5.my-md-7
    .showcase.com
        .row
            .col-md-4
                .text
                    h4 Headline<br/>na dva řádky
                    p Začít důvodů region snížit stavbu obejdete z miliony zásad zvýší i nachází podrobila plánku prosazovat zvyšují. Nejlogičtějším spojených, mi dnů pátrá osobně.
            .col-md-1
            .col-md-7
                +picture('samples/showcase-1@1x.jpg', 'samples/showcase-1@2x.jpg')

.container.my-5.my-md-7
    .showcase.com.--reverse
        .row
            .col-md-4
                .text
                    h4 Headline<br/>na dva řádky
                    p Začít důvodů region snížit stavbu obejdete z miliony zásad zvýší i nachází podrobila plánku prosazovat zvyšují. Nejlogičtějším spojených, mi dnů pátrá osobně.
            .col-md-1
            .col-md-7
                +picture('samples/showcase-1@1x.jpg', 'samples/showcase-1@2x.jpg')

.container.my-5.my-md-7
    .showcase.com
        .row
            .col-md-4
                .text
                    h4 Headline<br/>na dva řádky
                    p Začít důvodů region snížit stavbu obejdete z miliony zásad zvýší i nachází podrobila plánku prosazovat zvyšují. Nejlogičtějším spojených, mi dnů pátrá osobně.
            .col-md-1
            .col-md-7
                +picture('samples/showcase-1@1x.jpg', 'samples/showcase-1@2x.jpg')

.container.my-5.my-md-7
    .showcase.com.--reverse
        .row
            .col-md-4
                .text
                    h4 Headline<br/>na dva řádky
                    p Začít důvodů region snížit stavbu obejdete z miliony zásad zvýší i nachází podrobila plánku prosazovat zvyšují. Nejlogičtějším spojených, mi dnů pátrá osobně.
            .col-md-1
            .col-md-7
                +picture('samples/showcase-1@1x.jpg', 'samples/showcase-1@2x.jpg')