include ../mixins/picture
include ../mixins/sprite

.js-owl-carousel.owl-carousel.owl-theme(data-options='{ "margin": 25, "dots": false, "nav": true, "items": 2, "responsive": { "960": { "items": 6 }} }')
    - var n = 0;
    while n < 8
        a(href="#!").d-inline-block.p-1.p-md-4.bg-white.border.rounded.hover-bg-white.hover-border-secondary
            +placeholder(176, 96, "", "w-100")
        -n++;