include ../mixins/sprite

.d-flex.justify-content-center.flex-column.flex-md-row
    .d-inline-block.align-top
        .bg-success.text-white.sx-48.sx-md-80.icon-box.rounded-circle.mb-3.mx-auto
            +sprite("check", "sx-32 sx-md-48")
        h6.text-success.font-weight-normal.text-center Obj. přijata
    .d-none.d-md-inline-block.align-top.text-200.mx-4
        .sx-80.icon-box
            +sprite("arrow-narrow-right", "sx-48")
    .d-md-none.sx-48.icon-box.text-200.mx-auto
        +sprite("arrow-narrow-down", "sx-24")
    .d-inline-block.align-top.text-primary
        .sx-48.sx-md-80.icon-box.border.border-primary.border-2.rounded-circle.mb-3.mx-auto
            +sprite("gift", "sx-32 sx-md-48")
        h6.text-primary.font-weight-normal.text-center Zabalíme
    .d-none.d-md-inline-block.align-top.text-200.mx-4
        .sx-80.icon-box
            +sprite("arrow-narrow-right", "sx-48")
    .d-md-none.sx-48.icon-box.text-200.mx-auto
        +sprite("arrow-narrow-down", "sx-24")
    .d-inline-block.align-top.text-primary
        .sx-48.sx-md-80.icon-box.border.border-primary.border-2.rounded-circle.mb-3.mx-auto
            +sprite("truck", "sx-32 sx-md-48")
        h6.text-primary.font-weight-normal.text-center Doručujeme
    .d-none.d-md-inline-block.align-top.text-200.mx-4
        .sx-80.icon-box
            +sprite("arrow-narrow-right", "sx-48")
    .d-md-none.sx-48.icon-box.text-200.mx-auto
        +sprite("arrow-narrow-down", "sx-24")
    .d-inline-block.align-top.text-primary
        .sx-48.sx-md-80.icon-box.border.border-primary.border-2.rounded-circle.mb-3.mx-auto
            +sprite("home", "sx-32 sx-md-48")
        h6.text-primary.font-weight-normal.text-center Předáme