mixin card-product-alt($item = ['Product name'], $image = [300, 200, "#DDDDDD"])

    .card.h-100.bg-100
        a(href="./product.html").card.h-100.bg-100.border.border-white.text-black.text-none.hover-bg-100.hover-border-secondary.transition-primary
            +placeholder($image[0], $image[1], "d-flex align-items-end p-2 pt-md-5 w-100", "w-100", $image[2])
            .d-flex.flex-column.justify-content-between.h-100.px-4.pt-3.pb-4
                .card-title.font-weight-semibold.line-h-133.line-clamp.line-clamp__2= $item[0]
                .letter-spacing-sm
                    span.h5 8&nbsp;990&nbsp;Kč 
                    | s&nbsp;DPH