mixin cart-row($product)

    .cart-table__row
        .cart-table__image
            +placeholder(80, 80)
        .cart-table__name= $product[0]
        .cart-table__amount
            .btn.btn-outline-primary.p-0.icon-box-inline.sx-40.border.border-500.rounded-circle
                +sprite("minus", "sx-24")
            input(type="text" value="55").cart-table__amount__input
            .btn.btn-outline-primary.p-0.icon-box-inline.sx-40.border.border-500.rounded-circle
                +sprite("plus", "sx-24")
        .cart-table__price
            .text-micro.text-muted.d-md-none bez DPH
            | 100 000 Kč
        .cart-table__price.cart-table__price--vat
            .text-micro.text-muted.d-md-none s DPH
            | 121 000 Kč
        .cart-table__action
             a(href="#!" title="Delete item").btn.btn-sm.text-danger.icon-box-inline.p-0.sx-48.hover-border-red.hover-bg-red-alpha-10
                +sprite("trash", "sx-24")
    hr.d-none