<footer>
    <div class="container py-6">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-6">
                <div class="d-flex h-100 justify-content-between flex-column">
                    <div class="small line-h-120 mb-4">
                        <img class="img-fluid mb-4" src="undefinedlogo-site.svg" alt="ePohony" width="165" />
                        <p>2021 &copy; Epohony.cz<br />Všechna práva vyhrazena</p>
                    </div>
                    <div class="mb-4 mb-md-0">
                        <a class="icon-box-inline sx-40 text-500" href="#!" title="Youtube" target="_blank">
                            <svg class="ico youtube sx-24">
                                <use xlink:href="undefined#youtube"></use></svg></a
                        ><a class="icon-box-inline sx-40 text-500" href="#!" title="Facebook" target="_blank">
                            <svg class="ico facebook sx-24">
                                <use xlink:href="undefined#facebook"></use></svg></a
                        ><a class="icon-box-inline sx-40 text-500" href="#!" title="Twitter" target="_blank">
                            <svg class="ico twitter sx-24">
                                <use xlink:href="undefined#twitter"></use></svg></a
                        ><a class="icon-box-inline sx-40 text-500" href="#!" title="LinkedIn" target="_blank">
                            <svg class="ico linkedin sx-24">
                                <use xlink:href="undefined#linkedin"></use></svg
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-2">
                <div class="foot-links">
                    <label for="foot-links-1">Footer links</label>
                    <input type="checkbox" id="foot-links-1" />
                    <nav>
                        <ul>
                            <li><a href="#!">Letterpress echo</a></li>
                            <li><a href="#!">Gochujang chillwave</a></li>
                            <li><a href="#!">Tumblr kitsch</a></li>
                            <li><a href="#!">Humblebrag</a></li>
                            <li><a href="#!">Knausgaard</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-2">
                <div class="foot-links">
                    <label for="foot-links-2">Footer links</label>
                    <input type="checkbox" id="foot-links-2" />
                    <nav>
                        <ul>
                            <li><a href="#!">Letterpress echo</a></li>
                            <li><a href="#!">Gochujang chillwave</a></li>
                            <li><a href="#!">Tumblr kitsch</a></li>
                            <li><a href="#!">Humblebrag</a></li>
                            <li><a href="#!">Knausgaard</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-2">
                <div class="foot-links">
                    <label for="foot-links-3">Footer links</label>
                    <input type="checkbox" id="foot-links-3" />
                    <nav>
                        <ul>
                            <li><a href="#!">Letterpress echo</a></li>
                            <li><a href="#!">Gochujang chillwave</a></li>
                            <li><a href="#!">Tumblr kitsch</a></li>
                            <li><a href="#!">Humblebrag</a></li>
                            <li><a href="#!">Knausgaard</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
