<section class="bg-gradient-primary h6 line-h-120 mb-0 pt-4 font-weight-normal text-white" id="bar-1">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="d-flex align-items-center">
                    <span class="d-flex justify-content-center align-items-center flex-shrink-0 border border-white-alpha-25 sx-56 rounded mr-4">
                        <svg class="ico thumb-up sx-32">
                            <use xlink:href="undefined#thumb-up"></use></svg></span
                    >Prodloužená záruka při montáži od nás
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="d-flex align-items-center">
                    <span class="d-flex justify-content-center align-items-center flex-shrink-0 border border-white-alpha-25 sx-56 rounded mr-4">
                        <svg class="ico chat-alt sx-32">
                            <use xlink:href="undefined#chat-alt"></use></svg></span
                    >Nevíte si rady? Využijte náš zákaznický servis
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="d-flex align-items-center">
                    <span class="d-flex justify-content-center align-items-center flex-shrink-0 border border-white-alpha-25 sx-56 rounded mr-4">
                        <svg class="ico cog sx-32">
                            <use xlink:href="undefined#cog"></use></svg></span
                    >V případě zájmu zajistíme<br />odbornou montáž
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container py-6">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-6">
                <div class="d-flex h-100 justify-content-between flex-column">
                    <div class="small line-h-120 mb-4">
                        <img class="img-fluid mb-4" src="undefinedlogo-site.svg" alt="ePohony" width="165" />
                        <p>2021 &copy; Epohony.cz<br />Všechna práva vyhrazena</p>
                    </div>
                    <div class="mb-4 mb-md-0">
                        <a class="icon-box-inline sx-40 text-500" href="#!" title="Youtube" target="_blank">
                            <svg class="ico youtube sx-24">
                                <use xlink:href="undefined#youtube"></use></svg></a
                        ><a class="icon-box-inline sx-40 text-500" href="#!" title="Facebook" target="_blank">
                            <svg class="ico facebook sx-24">
                                <use xlink:href="undefined#facebook"></use></svg></a
                        ><a class="icon-box-inline sx-40 text-500" href="#!" title="Twitter" target="_blank">
                            <svg class="ico twitter sx-24">
                                <use xlink:href="undefined#twitter"></use></svg></a
                        ><a class="icon-box-inline sx-40 text-500" href="#!" title="LinkedIn" target="_blank">
                            <svg class="ico linkedin sx-24">
                                <use xlink:href="undefined#linkedin"></use></svg
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-2">
                <div class="foot-links">
                    <label for="foot-links-1">Footer links</label>
                    <input type="checkbox" id="foot-links-1" />
                    <nav>
                        <ul>
                            <li><a href="#!">Letterpress echo</a></li>
                            <li><a href="#!">Gochujang chillwave</a></li>
                            <li><a href="#!">Tumblr kitsch</a></li>
                            <li><a href="#!">Humblebrag</a></li>
                            <li><a href="#!">Knausgaard</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-2">
                <div class="foot-links">
                    <label for="foot-links-2">Footer links</label>
                    <input type="checkbox" id="foot-links-2" />
                    <nav>
                        <ul>
                            <li><a href="#!">Letterpress echo</a></li>
                            <li><a href="#!">Gochujang chillwave</a></li>
                            <li><a href="#!">Tumblr kitsch</a></li>
                            <li><a href="#!">Humblebrag</a></li>
                            <li><a href="#!">Knausgaard</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-2">
                <div class="foot-links">
                    <label for="foot-links-3">Footer links</label>
                    <input type="checkbox" id="foot-links-3" />
                    <nav>
                        <ul>
                            <li><a href="#!">Letterpress echo</a></li>
                            <li><a href="#!">Gochujang chillwave</a></li>
                            <li><a href="#!">Tumblr kitsch</a></li>
                            <li><a href="#!">Humblebrag</a></li>
                            <li><a href="#!">Knausgaard</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
