<footer>
    <div class="top">
        <div class="container py-6 border-top">
            <div class="row">
                <div class="col-12 col-md-7">
                    <p>
                        TM Technik s. r. o.<br />
                        Dornych 54/47, Brno 617 00<br />
                        IČO: 26889927<br />
                        DIČ: CZ26889927
                    </p>
                </div>
                <div class="col-6 col-md-3">
                    <div class="foot-links">
                        <p class="mb-md-5">Rozcestník</p>
                        <ul class="list-group list-group-minimal">
                            <li class="list-group-item py-1"><a href="">Služby</a></li>
                            <li class="list-group-item py-1"><a href="">O společnosti</a></li>
                            <li class="list-group-item py-1"><a href="">Kontakt</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="foot-links">
                        <p class="mb-md-5">Socialní Sítě</p>
                        <ul class="list-group list-group-minimal">
                            <li class="list-group-item py-1"><a href="">Facebook</a></li>
                            <li class="list-group-item py-1"><a href="">Instagram</a></li>
                            <li class="list-group-item py-1"><a href="">Linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom bg-primary text-dark py-4">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <p>2021 &copy; TM Technik, všechna práva vyhrazena</p>
                </div>
                <div class="col-auto text-right">
                    <a href="https://orwin.cz" target="_blank"><img src="undefinedlogo-orwin.svg" alt="Orwin" height="40" /></a>
                </div>
            </div>
        </div>
    </div>
</footer>
