
<header class="header com --sticky">
  <div class="topbar com">
    <div class="container">
      <div class="left">
        <ul>
          <li><a href="#!">
              <svg class="ico shopping-cart s-16">
                <use xlink:href="undefined#shopping-cart"></use>
              </svg>E-shop</a></li>
          <li><a href="#!">
              <svg class="ico lock-open s-16">
                <use xlink:href="undefined#lock-open"></use>
              </svg>Klientská zóna</a></li>
          <li><a href="#!">
              <svg class="ico briefcase s-16">
                <use xlink:href="undefined#briefcase"></use>
              </svg>Kariéra</a></li>
        </ul>
      </div>
      <div class="right">
        <ul>
          <li><a href="#!">
              <svg class="ico youtube s-16">
                <use xlink:href="undefined#youtube"></use>
              </svg>Youtube</a></li>
          <li><a href="#!">
              <svg class="ico facebook s-16">
                <use xlink:href="undefined#facebook"></use>
              </svg>Facebook</a></li>
          <li class="dropdown"><a class="dropdown-toggle" href="#!" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <svg class="ico globe s-16">
                <use xlink:href="undefined#globe"></use>
              </svg>CZ</a>
            <div class="dropdown-menu dropdown-menu-right --slim"><a class="dropdown-item active" href="#">CZ</a><a class="dropdown-item" href="#">EN</a></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg fancynavbar fancynavbar-top" id="top">
    <div class="container"><a class="navbar-brand" href="./" data-config-id="brand">
        <picture>
          <source srcset="undefinedlogo-tm@1x.png 1x, undefinedlogo-tm@2x.png 2x"/><img class="img-fluid" src="undefinedlogo-tm@1x.png"/>
        </picture></a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Služby</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="./sluzba1.html">Služba 1</a>
              <div class="dropdown-divider"></div><a class="dropdown-item" href="./sluzba2.html">Služba 2</a>
              <div class="dropdown-divider"></div><a class="dropdown-item" href="./servis.html">Servis</a>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="./znacky.html">Značky výrobců</a></li>
          <li class="nav-item"><a class="nav-link" href="./spolecnost1.html">O společnosti</a></li>
          <li class="nav-item"><a class="nav-link" href="./team1.html">Náš tým</a></li>
          <li class="nav-item"><a class="nav-link" href="./kontakt.html">Kontakt</a></li>
        </ul>
      </div>
      <div class="search d-none d-lg-block">
        <form action="#">
          <input class="form-control" type="text" placeholder="Vyhledat"/>
        </form>
      </div>
      <div class="fancynavbar-togglerbar fancynavbar-toggler d-flex d-lg-none">
        <button class="btn btn-sm">
          <svg width="48" height="24" viewbox="0 0 48 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="48" height="4" fill="currentColor"></rect>
            <rect y="10" width="48" height="4" fill="currentColor"></rect>
            <rect y="20" width="48" height="4" fill="currentColor"></rect>
          </svg>
        </button>
        <button class="btn btn-sm">
          <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="25.9507" width="36.0907" height="3.38356" transform="rotate(-45 0 25.9507)" fill="currentColor"></rect>
            <rect x="25.5205" y="28.3433" width="36.0907" height="3.38356" transform="rotate(-135 25.5205 28.3433)" fill="currentColor"></rect>
          </svg>
        </button>
      </div>
      <div class="fancynavbar-collapse">
        <div class="top">
          <ul class="nav fancynavbar-languages">
            <li><a class="btn btn-lg btn-secondary" href="#!">Česky</a></li>
            <li><a class="btn btn-lg btn-outline-secondary" href="#!">English</a></li>
          </ul>
          <ul class="fancynavbar-nav">
            <li class="fancynav-item fancy-dropdown"><a class="fancynav-link fancy-dropdown-toggle" href="javascript:void(0)">
                <div class="fancynav-link-content">Služby</div></a>
              <div class="fancy-dropdown-menu">
                <div class="row py-2">
                  <div class="col-auto"><a class="fancy-dropdown-item" href="#!">Třídění a kontrola kvality</a><a class="fancy-dropdown-item" href="#!">Montáže a drobné opracování dílů</a><a class="fancy-dropdown-item" href="#!">3D měření a programování</a><a class="fancy-dropdown-item" href="#!">Technická čistota</a><a class="fancy-dropdown-item" href="#!">Konzultace, školení audity</a></div>
                </div>
              </div>
            </li>
            <li class="fancynav-item"><a class="fancynav-link" href="./dilna.html">Chráněná dílna</a></li>
            <li class="fancynav-item"><a class="fancynav-link" href="./o-nas.html">O společnosti</a></li>
            <li class="fancynav-item"><a class="fancynav-link" href="./kontakt.html">Kontakt</a></li>
          </ul>
          <div class="fancynav-item my-2"><a class="fancynav-link" href="#!">
              <svg class="ico lock-open s-24">
                <use xlink:href="undefined#lock-open"></use>
              </svg>Klientská zóna</a></div>
          <div class="fancynav-item my-2"><a class="fancynav-link" href="#!">
              <svg class="ico briefcase s-24">
                <use xlink:href="undefined#briefcase"></use>
              </svg>Kariéra</a></div>
        </div>
        <div class="bottom">
          <div class="fancy-socials">
            <div class="row">
              <div class="col-6"><a class="fancynav-link" href="#!" target="_blank">
                  <svg class="ico youtube s-24">
                    <use xlink:href="undefined#youtube"></use>
                  </svg>Youtube</a></div>
              <div class="col-6"><a class="fancynav-link" href="#!" target="_blank">
                  <svg class="ico linkedin s-24">
                    <use xlink:href="undefined#linkedin"></use>
                  </svg>Linkedin</a></div>
              <div class="col-6"><a class="fancynav-link" href="#!" target="_blank">
                  <svg class="ico facebook s-24">
                    <use xlink:href="undefined#facebook"></use>
                  </svg>Facebook</a></div>
              <div class="col-6"><a class="fancynav-link" href="#!" target="_blank">
                  <svg class="ico twitter s-24">
                    <use xlink:href="undefined#twitter"></use>
                  </svg>Twitter</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>