footer
    .container.py-6
        .row
            .col-12.col-md-3.col-lg-6
                .d-flex.h-100.justify-content-between.flex-column
                    .text-micro.line-h-120.mb-4
                        img(src= $imgDir + "logo-site.svg" alt='ePohony' width='165').img-fluid.mb-3
                        p 2021 &copy; Epohony.cz<br>Všechna práva vyhrazena
                    .mb-4.mb-md-0
                        a(href="#!").icon-box-inline.sx-40.text-500
                            +sprite("youtube", "sx-24")
                        a(href="#!").icon-box-inline.sx-40.text-500
                            +sprite("facebook", "sx-24")
                        a(href="#!").icon-box-inline.sx-40.text-500
                            +sprite("twitter", "sx-24")
                        a(href="#!").icon-box-inline.sx-40.text-500
                            +sprite("linkedin", "sx-24")
            .col-12.col-md-3.col-lg-2
                .foot-links
                    label(for="foot-links-1") Footer links
                    input(type="checkbox")#foot-links-1
                    nav
                        ul
                            li: a(href="#!") Letterpress echo
                            li: a(href="#!") Gochujang chillwave
                            li: a(href="#!") Tumblr kitsch
                            li: a(href="#!") Humblebrag
                            li: a(href="#!") Knausgaard
            .col-12.col-md-3.col-lg-2
                .foot-links
                    label(for="foot-links-2") Footer links
                    input(type="checkbox")#foot-links-2
                    nav
                        ul
                            li: a(href="#!") Letterpress echo
                            li: a(href="#!") Gochujang chillwave
                            li: a(href="#!") Tumblr kitsch
                            li: a(href="#!") Humblebrag
                            li: a(href="#!") Knausgaard
            .col-12.col-md-3.col-lg-2
                .foot-links
                    label(for="foot-links-3") Footer links
                    input(type="checkbox")#foot-links-3
                    nav
                        ul
                            li: a(href="#!") Letterpress echo
                            li: a(href="#!") Gochujang chillwave
                            li: a(href="#!") Tumblr kitsch
                            li: a(href="#!") Humblebrag
                            li: a(href="#!") Knausgaard