include ../mixins/picture
include ../mixins/sprite

//- Header
header.main.bg-gradient-primary.py-3.text-white
    .container
        a(href='./index.html')
            img(src= $imgDir + "logo-site.svg" alt='ePohony' width='145')
        div.d-none.d-lg-block.h5.font-weight-normal.text-white.mb-0 Pohony bran, vrat a parkovací zábrany
        div
            a(href="./user-info.html").d-inline-flex.align-items-center.text-white.text-micro.hover-secondary
                span.btn-primary.btn-circle.bg-gradient-secondary.border-0.sx-40.mr-2
                    +sprite("user", "sx-24")
                span.d-none.d-md-block
                    span.fotn-weight-bold.d-block Přihlásit se
                    | Můj účet
            a(href="./cart.html").d-inline-flex.align-items-center.text-white.text-micro.ml-1.ml-md-4.hover-secondary
                span.btn-primary.btn-circle.bg-gradient-secondary.border-0.sx-40.mr-2
                    +sprite("shopping-cart", "sx-24")
                span.d-none.d-md-block
                    span.font-weight-bold.d-block 23 456 Kč
                    | Košík
            button.d-md-none.btn-primary.btn-circle.bg-gradient-secondary.border-0.sx-40.js-offcanvas(data-target-id="#offcanvasEnd")
                    +sprite("menu", "sx-24")

section.header-subhead.bg-100
    .container
        .d-flex
            button(style="min-width: 150px" data-target-id="#offcanvasTop").d-none.d-md-inline-flex.align-items-center.justify-content-between.border.rounded.bg-white.shadow-secondary.text-decoration-none.text-dark.hover-bg-white.hover-primary.hover-border-primary.js-offcanvas
                .d-inline-block.px-4 Produkty
                .border-left.px-2
                    +sprite("chevron-down", "sx-16")

            .flex-grow-1.ml-md-5.mr-lg-5
                form(action="#" method="get")
                    .input-group
                        input(type="text" name="q" placeholder="Vyhledat zboží…").form-control
                        select(name="cat").form-control.border-right-0.text-500
                            option Kategorie
                            option Vše
                            each $item in $Data.productCategories
                                option !{$item[0]}
                        .input-group-append
                            button.btn.btn-primary.px-3.py-0(type="submit")
                                +sprite("search", "sx-24")

            nav.navbar.navbar-expand-lg.navbar-light.d-none.d-lg-block.align-self-center
                .collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href='./znacky.html') Montáž
                        li.nav-item
                            a.nav-link(href='./spolecnost1.html') Garážová vrata
                        li.nav-item
                            a.nav-link(href='./team1.html') B2B spolupráce
                        li.nav-item
                            a.nav-link(href='./kontakt.html') Kontakt