//- Variables
- var $buildUrl = 'build/'
- var $svgSprite = 'build/svg/sprite.defs.svg'
- var $imgDir = 'assets/images/'
 
//- Mixins
include ../mixins/picture
include ../mixins/sprite
include ../mixins/views

//- Components
include ../components/card-product
include ../components/card-product-big
include ../components/card-product-alt
include ../components/card-product-sale
include ../components/card-category-box
include ../components/cart-row
include ../components/video-box

block variables

doctype html
html(lang='cs')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0')
        title #{title} | #{$Data.site.title}
        link(href= $buildUrl + 'lib/fancybox/jquery.fancybox.min.css' rel='stylesheet')
        link(href= $buildUrl + 'lib/owl.carousel/owl.carousel.css' rel='stylesheet')
        link(href= $buildUrl + 'lib/nouislider/nouislider.min.css' rel='stylesheet')
        link(href= $buildUrl + 'css/theme.min.css' rel='stylesheet')

        //- Favicons
        //- link(rel='apple-touch-icon' sizes='180x180' href='assets/favicons/apple-touch-icon.png')
        //- link(rel='icon' type='image/png' sizes='32x32' href='assets/favicons/favicon-32x32.png')
        //- link(rel='icon' type='image/png' sizes='16x16' href='assets/favicons/favicon-16x16.png')
        //- link(rel='manifest' href='assets/favicons/site.webmanifest')
        //- link(rel='mask-icon' href='assets/favicons/safari-pinned-tab.svg' color='#5bbad5')
        //- link(rel='shortcut icon' href='assets/favicons/favicon.ico')
        //- meta(name='msapplication-TileColor' content='#da532c')
        //- meta(name='msapplication-config' content='assets/favicons/browserconfig.xml')
        //- meta(name='theme-color' content='#ffffff')

        script.
            window.baseUrl = "../"

        block scripts-header
            //- Extend header scripts

    body

        // Header
        block header
            include ./header

        // Main
        main.main
            block main

            // Footer
            block footer
                include ./footer

        //- Offcanvas
        #offcanvasEnd.offcanvas.offcanvas-end
            .offcanvas-header
                button(data-target-id="#offcanvasEnd").btn.btn-secondary.icon-box.sx-40.rounded-circle.js-offcanvas
                    +sprite("plus", "sx-24 text-blue transform-rotate-45deg")
            .offcanvas-body
                include ../partials/sidemenu-category

        #offcanvasTop.offcanvas.offcanvas-top
            .offcanvas-header
                button(data-target-id="#offcanvasTop").btn.btn-secondary.icon-box.sx-40.rounded-circle.js-offcanvas
                    +sprite("plus", "sx-24 text-blue transform-rotate-45deg")
            .offcanvas-body
                .row.gutters-md
                    each $item, $key in $Data.productCategories
                        .col-md-4.col-lg-3.mb-2
                            +card-category-box($item)

        // Mobile nav overlay
        .mobile-nav-overlay.js-backdrop

        // Autocomplete template - start
        script(id="autocomplete-template" type="text/x-handlebars-template").
            {{#unless resultIsEmpty}}
                <div class="row">
                    <div class="col-lg-6 mb-3 mb-lg-0">
                        {{#with products}}
                            <div class="d-flex align-items-end mb-1 mb-md-3">
                                <h2 class="h5 mb-0 text-uppercase">{{title}}</h2>
                                <div class="small ml-auto">{{result}}</div>
                            </div>
                            {{#each items}}
                                <div class="d-flex align-items-center bg-100 rounded p-2 p-md-3 mb-2 hover-bg-primary-alpha-10 transition-primary"><a class="d-flex align-items-center text-none" href="./product.html">
                                    <div class="bg-white mr-2 mr-md-3">
                                        <picture><img src="{{imgsrc}}"></picture>
                                    </div>
                                    <div class="line-h-100">{{name}}</div></a>
                                    <div class="text-nowrap font-weight-semibold ml-auto">{{price}}</div>
                                    <div class="d-none d-md-block ml-2 ml-md-3"><a class="btn btn-sm btn-secondary" href="{{action}}">Koupit</a></div>
                                </div>
                            {{else}}
                                <div class="alert alert-danger" role="alert">
                                    Šablona pro prázdný výsledek.
                                </div>
                            {{/each}}
                        {{/with}}
                    </div>
                    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                        {{#with brands}}
                            <div class="d-flex align-items-end mb-1 mb-md-3">
                                <h2 class="h5 mb-0 text-uppercase">{{title}}</h2>
                                <div class="small ml-auto">{{result}}</div>
                            </div>
                            {{#each items}}
                                <a class="d-flex align-items-center bg-100 rounded p-2 p-md-3 mb-2 border border-100 hover-border-secondary hover-bg-secondary-alpha-10 transition-primary" href="{{url}}">{{name}}</a>
                            {{else}}
                                <div class="alert alert-danger" role="alert">
                                    Šablona pro prázdný výsledek.
                                </div>
                            {{/each}}
                        {{/with}}
                    </div>
                    <div class="col-md-6 col-lg-3">
                        {{#with categories}}
                            <div class="d-flex align-items-end mb-1 mb-md-3">
                                <h2 class="h5 mb-0 text-uppercase">{{title}}</h2>
                                <div class="small ml-auto">{{result}}</div>
                            </div>
                            {{#each items}}
                                <a class="d-flex align-items-center bg-100 rounded p-2 p-md-3 mb-2 border border-100 hover-border-secondary hover-bg-secondary-alpha-10 transition-primary" href="{{url}}">
                                    <svg class="ico folder-open sx-32 mr-2 text-secondary">
                                        <use xlink:href="build/svg/sprite.defs.svg#folder-open"></use>
                                    </svg>
                                    {{name}}
                                </a>
                            {{else}}
                                <div class="alert alert-danger" role="alert">
                                    Šablona pro prázdný výsledek.
                                </div>
                            {{/each}}
                        {{/with}}
                    </div>
                </div>
                {{#if urlMore}}
                    <a href="{{urlMore}}" class="small font-weight-bold text-black">Zobrazit všechny výsledky</a>
                {{/if}}
            {{else}}
                <div class="alert alert-danger" role="alert">
                    Šablona pro prázdný výsledek.
                </div>
            {{/unless}}
        // Autocomplete template - end

        script(src= $buildUrl + 'js/jquery.min.js')
        script(src= $buildUrl + 'js/bootstrap.min.js')
        script(src= $buildUrl + 'js/plugins.min.js')
        script(src= $buildUrl + 'lib/fancybox/jquery.fancybox.min.js')
        script(src= $buildUrl + 'lib/owl.carousel/owl.carousel.js')
        script(src= $buildUrl + 'lib/handlebars/handlebars.min.js')
        script(src= $buildUrl + 'js/theme.min.js')

        // Footer scripts
        block scripts-footer