
<div class="container">
  <div class="box-list com --type-2">
    <div class="row">
      <div class="col-12 col-md-3"><a class="item --enter" href="#!">
          <h5>Headline lorem ipsum dolor sit amet senec et labroam dec ligram</h5>
          <svg class="ico arrow-narrow-right s-24">
            <use xlink:href="undefined#arrow-narrow-right"></use>
          </svg></a></div>
      <div class="col-6 col-md">
        <div class="item">
          <div class="top">
            <!--+sprite('badge-check', "s-64 text-primary")-->
            <svg class="ico lock-open s-16">
              <use xlink:href="undefined#lock-open"></use>
            </svg>
          </div>
          <div class="bottom">
            <p>Nemáte nutnost zaměstnávat vlastní OZP</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md">
        <div class="item">
          <div class="top">
            <!--+sprite('badge-check', "s-64 text-primary")-->
            <svg class="ico lock-open s-16">
              <use xlink:href="undefined#lock-open"></use>
            </svg>
          </div>
          <div class="bottom">
            <p>Nemáte nutnost zaměstnávat vlastní OZP</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md">
        <div class="item">
          <div class="top">
            <!--+sprite('badge-check', "s-64 text-primary")-->
            <svg class="ico lock-open s-16">
              <use xlink:href="undefined#lock-open"></use>
            </svg>
          </div>
          <div class="bottom">
            <p>Nemáte nutnost zaměstnávat vlastní OZP</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>