<div class="box-list com --type-3">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-2">
            <div class="item">
                <div class="top">
                    <svg class="ico document-download s-64 text-primary">
                        <use xlink:href="undefined#document-download"></use>
                    </svg>
                </div>
                <div class="bottom">
                    <h6>ISO 9001</h6>
                    <p>PDF,150 KB</p>
                    <a class="link" href="#"
                        >Stáhnout
                        <svg class="ico arrow-narrow-right s-24">
                            <use xlink:href="undefined#arrow-narrow-right"></use></svg
                    ></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="item">
                <div class="top">
                    <svg class="ico document-download s-64 text-primary">
                        <use xlink:href="undefined#document-download"></use>
                    </svg>
                </div>
                <div class="bottom">
                    <h6>ISO 9001</h6>
                    <p>PDF,150 KB</p>
                    <a class="link" href="#"
                        >Stáhnout
                        <svg class="ico arrow-narrow-right s-24">
                            <use xlink:href="undefined#arrow-narrow-right"></use></svg
                    ></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="item">
                <div class="top">
                    <svg class="ico document-download s-64 text-primary">
                        <use xlink:href="undefined#document-download"></use>
                    </svg>
                </div>
                <div class="bottom">
                    <h6>ISO 9001</h6>
                    <p>PDF,150 KB</p>
                    <a class="link" href="#"
                        >Stáhnout
                        <svg class="ico arrow-narrow-right s-24">
                            <use xlink:href="undefined#arrow-narrow-right"></use></svg
                    ></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="item">
                <div class="top">
                    <svg class="ico document-download s-64 text-primary">
                        <use xlink:href="undefined#document-download"></use>
                    </svg>
                </div>
                <div class="bottom">
                    <h6>ISO 9001</h6>
                    <p>PDF,150 KB</p>
                    <a class="link" href="#"
                        >Stáhnout
                        <svg class="ico arrow-narrow-right s-24">
                            <use xlink:href="undefined#arrow-narrow-right"></use></svg
                    ></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="item">
                <div class="top">
                    <svg class="ico document-download s-64 text-primary">
                        <use xlink:href="undefined#document-download"></use>
                    </svg>
                </div>
                <div class="bottom">
                    <h6>ISO 9001</h6>
                    <p>PDF,150 KB</p>
                    <a class="link" href="#"
                        >Stáhnout
                        <svg class="ico arrow-narrow-right s-24">
                            <use xlink:href="undefined#arrow-narrow-right"></use></svg
                    ></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="item">
                <div class="top">
                    <svg class="ico document-download s-64 text-primary">
                        <use xlink:href="undefined#document-download"></use>
                    </svg>
                </div>
                <div class="bottom">
                    <h6>ISO 9001</h6>
                    <p>PDF,150 KB</p>
                    <a class="link" href="#"
                        >Stáhnout
                        <svg class="ico arrow-narrow-right s-24">
                            <use xlink:href="undefined#arrow-narrow-right"></use></svg
                    ></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="item">
                <div class="top">
                    <svg class="ico document-download s-64 text-primary">
                        <use xlink:href="undefined#document-download"></use>
                    </svg>
                </div>
                <div class="bottom">
                    <h6>ISO 9001</h6>
                    <p>PDF,150 KB</p>
                    <a class="link" href="#"
                        >Stáhnout
                        <svg class="ico arrow-narrow-right s-24">
                            <use xlink:href="undefined#arrow-narrow-right"></use></svg
                    ></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="item">
                <div class="top">
                    <svg class="ico document-download s-64 text-primary">
                        <use xlink:href="undefined#document-download"></use>
                    </svg>
                </div>
                <div class="bottom">
                    <h6>ISO 9001</h6>
                    <p>PDF,150 KB</p>
                    <a class="link" href="#"
                        >Stáhnout
                        <svg class="ico arrow-narrow-right s-24">
                            <use xlink:href="undefined#arrow-narrow-right"></use></svg
                    ></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="item">
                <div class="top">
                    <svg class="ico document-download s-64 text-primary">
                        <use xlink:href="undefined#document-download"></use>
                    </svg>
                </div>
                <div class="bottom">
                    <h6>ISO 9001</h6>
                    <p>PDF,150 KB</p>
                    <a class="link" href="#"
                        >Stáhnout
                        <svg class="ico arrow-narrow-right s-24">
                            <use xlink:href="undefined#arrow-narrow-right"></use></svg
                    ></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="item">
                <div class="top">
                    <svg class="ico document-download s-64 text-primary">
                        <use xlink:href="undefined#document-download"></use>
                    </svg>
                </div>
                <div class="bottom">
                    <h6>ISO 9001</h6>
                    <p>PDF,150 KB</p>
                    <a class="link" href="#"
                        >Stáhnout
                        <svg class="ico arrow-narrow-right s-24">
                            <use xlink:href="undefined#arrow-narrow-right"></use></svg
                    ></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="item">
                <div class="top">
                    <svg class="ico document-download s-64 text-primary">
                        <use xlink:href="undefined#document-download"></use>
                    </svg>
                </div>
                <div class="bottom">
                    <h6>ISO 9001</h6>
                    <p>PDF,150 KB</p>
                    <a class="link" href="#"
                        >Stáhnout
                        <svg class="ico arrow-narrow-right s-24">
                            <use xlink:href="undefined#arrow-narrow-right"></use></svg
                    ></a>
                </div>
            </div>
        </div>
    </div>
</div>
