<div class="family-block com">
    <div class="row">
        <div class="col-12 col-md-5" data-zanim-xs='{"animation":"zoom-in","delay":0.5}' data-zanim-trigger="scroll">
            <picture>
                <source srcset="undefinedsamples/infografika@1x.png 1x, undefinedsamples/infografika@2x.png 2x" />
                <img class="img-fluid" src="undefinedsamples/infografika@1x.png" />
            </picture>
        </div>
        <div class="col-md-1"></div>
        <div class="col-12 col-md-6" data-zanim-xs='{"animation":"slide-left","delay":1}' data-zanim-trigger="scroll">
            <div class="subhead com --right">Naši partneři</div>
            <h2>Jsme velká a spokojená rodina, jsme QPAG – Quality Produciton Assurance Group</h2>
        </div>
    </div>
</div>
