<div class="googlemap" data-latlng="49.2223938,16.6161608" data-scrollwheel="false" data-icon="undefined/map-marker.svg" data-zoom="14" data-theme="Midnight">
    <div class="marker-content">
        <p>
            100% REWORK s.r.o.<br />
            Křižíkova 2697/70<br />
            612 00 Brno CZ<br />
            +420 515 500 777 <br />
            E-mail: <a href="mailto:info@rework.cz">info@rework.cz</a>
        </p>
    </div>
</div>
<div class="container position-relative">
    <div class="gmap-box com">
        <picture>
            <source srcset="undefinedsamples/map-box@1x.jpg 1x, undefinedsamples/map-box@2x.jpg 2x" />
            <img class="img-fluid" src="undefinedsamples/map-box@1x.jpg" />
        </picture>
        <div class="bottom">
            <p>
                100% REWORK s.r.o.<br />
                Křižíkova 2697/70<br />
                612 00 Brno CZ<br />
                +420 515 500 777 <br />
                E-mail: <a href="mailto:info@rework.cz">info@rework.cz</a>
            </p>
            <p>
                <a class="link" href="#"
                    >Naplánovat trasu
                    <svg class="ico arrow-narrow-right s-24">
                        <use xlink:href="undefined#arrow-narrow-right"></use></svg
                ></a>
            </p>
        </div>
    </div>
</div>
