
<div class="container my-5 my-md-7">
  <div class="showcase com">
    <div class="row">
      <div class="col-md-4">
        <div class="text">
          <h4>Headline<br/>na dva řádky</h4>
          <p>Začít důvodů region snížit stavbu obejdete z miliony zásad zvýší i nachází podrobila plánku prosazovat zvyšují. Nejlogičtějším spojených, mi dnů pátrá osobně.</p>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <picture>
          <source srcset="undefinedsamples/showcase-1@1x.jpg 1x, undefinedsamples/showcase-1@2x.jpg 2x"/><img class="img-fluid" src="undefinedsamples/showcase-1@1x.jpg"/>
        </picture>
      </div>
    </div>
  </div>
</div>
<div class="container my-5 my-md-7">
  <div class="showcase com --reverse">
    <div class="row">
      <div class="col-md-4">
        <div class="text">
          <h4>Headline<br/>na dva řádky</h4>
          <p>Začít důvodů region snížit stavbu obejdete z miliony zásad zvýší i nachází podrobila plánku prosazovat zvyšují. Nejlogičtějším spojených, mi dnů pátrá osobně.</p>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <picture>
          <source srcset="undefinedsamples/showcase-1@1x.jpg 1x, undefinedsamples/showcase-1@2x.jpg 2x"/><img class="img-fluid" src="undefinedsamples/showcase-1@1x.jpg"/>
        </picture>
      </div>
    </div>
  </div>
</div>
<div class="container my-5 my-md-7">
  <div class="showcase com">
    <div class="row">
      <div class="col-md-4">
        <div class="text">
          <h4>Headline<br/>na dva řádky</h4>
          <p>Začít důvodů region snížit stavbu obejdete z miliony zásad zvýší i nachází podrobila plánku prosazovat zvyšují. Nejlogičtějším spojených, mi dnů pátrá osobně.</p>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <picture>
          <source srcset="undefinedsamples/showcase-1@1x.jpg 1x, undefinedsamples/showcase-1@2x.jpg 2x"/><img class="img-fluid" src="undefinedsamples/showcase-1@1x.jpg"/>
        </picture>
      </div>
    </div>
  </div>
</div>
<div class="container my-5 my-md-7">
  <div class="showcase com --reverse">
    <div class="row">
      <div class="col-md-4">
        <div class="text">
          <h4>Headline<br/>na dva řádky</h4>
          <p>Začít důvodů region snížit stavbu obejdete z miliony zásad zvýší i nachází podrobila plánku prosazovat zvyšují. Nejlogičtějším spojených, mi dnů pátrá osobně.</p>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <picture>
          <source srcset="undefinedsamples/showcase-1@1x.jpg 1x, undefinedsamples/showcase-1@2x.jpg 2x"/><img class="img-fluid" src="undefinedsamples/showcase-1@1x.jpg"/>
        </picture>
      </div>
    </div>
  </div>
</div>