<div class="row align-items-center">
    <div class="col-2 col-md-3 col-lg-2">
        <div class="p-1 p-md-4 bg-white border rounded">
            <picture><img class="w-100" src="https://via.placeholder.com/176x96.png" /></picture>
        </div>
    </div>
    <div class="col-2 col-md-3 col-lg-2">
        <div class="p-1 p-md-4 bg-white border rounded">
            <picture><img class="w-100" src="https://via.placeholder.com/176x96.png" /></picture>
        </div>
    </div>
    <div class="col-2 col-md-3 col-lg-2">
        <div class="p-1 p-md-4 bg-white border rounded">
            <picture><img class="w-100" src="https://via.placeholder.com/176x96.png" /></picture>
        </div>
    </div>
    <div class="col-2 col-md-3 col-lg-2">
        <div class="p-1 p-md-4 bg-white border rounded">
            <picture><img class="w-100" src="https://via.placeholder.com/176x96.png" /></picture>
        </div>
    </div>
    <div class="col-2 col-md-3 col-lg-2">
        <div class="p-1 p-md-4 bg-white border rounded">
            <picture><img class="w-100" src="https://via.placeholder.com/176x96.png" /></picture>
        </div>
    </div>
    <div class="col-2 col-md-3 col-lg-2">
        <div class="p-1 p-md-4 bg-white border rounded">
            <picture><img class="w-100" src="https://via.placeholder.com/176x96.png" /></picture>
        </div>
    </div>
</div>
