<div class="logo-partners-wrapper com" data-zanim-xs='{"animation": "blur-in", "delay": 0}' data-zanim-trigger="scroll">
    <div class="row align-items-center">
        <div class="col-2 col-md-3 col-lg-2">
            <div class="logo-partners com">
                <picture><img src="https://via.placeholder.com/120x60.png" /></picture>
            </div>
        </div>
        <div class="col-2 col-md-3 col-lg-2">
            <div class="logo-partners com">
                <picture><img src="https://via.placeholder.com/120x60.png" /></picture>
            </div>
        </div>
        <div class="col-2 col-md-3 col-lg-2">
            <div class="logo-partners com">
                <picture><img src="https://via.placeholder.com/120x60.png" /></picture>
            </div>
        </div>
        <div class="col-2 col-md-3 col-lg-2">
            <div class="logo-partners com">
                <picture><img src="https://via.placeholder.com/120x60.png" /></picture>
            </div>
        </div>
        <div class="col-2 col-md-3 col-lg-2">
            <div class="logo-partners com">
                <picture><img src="https://via.placeholder.com/120x60.png" /></picture>
            </div>
        </div>
        <div class="col-2 col-md-3 col-lg-2">
            <div class="logo-partners com">
                <picture><img src="https://via.placeholder.com/120x60.png" /></picture>
            </div>
        </div>
        <div class="col-2 col-md-3 col-lg-2">
            <div class="logo-partners com">
                <picture><img src="https://via.placeholder.com/120x60.png" /></picture>
            </div>
        </div>
        <div class="col-2 col-md-3 col-lg-2">
            <div class="logo-partners com">
                <picture><img src="https://via.placeholder.com/120x60.png" /></picture>
            </div>
        </div>
        <div class="col-2 col-md-3 col-lg-2">
            <div class="logo-partners com">
                <picture><img src="https://via.placeholder.com/120x60.png" /></picture>
            </div>
        </div>
        <div class="col-2 col-md-3 col-lg-2">
            <div class="logo-partners com">
                <picture><img src="https://via.placeholder.com/120x60.png" /></picture>
            </div>
        </div>
    </div>
</div>
