<div class="numbers com shadow-primary">
    <div class="row no-gutters">
        <div class="col-6 col-lg-3">
            <div class="item align-center">
                <h3>Stat rosa pristina nomine</h3>
            </div>
        </div>
        <div class="col-6 col-lg-3 border-left">
            <div class="item">
                <svg class="ico truck sx-40">
                    <use xlink:href="undefined#truck"></use>
                </svg>
                <div class="num"><span data-countup="500">175</span></div>
                <div class="info">Lorem<br />ipsum dolor</div>
            </div>
        </div>
        <div class="col-6 col-lg-3 border-lg-left border-top border-lg-top-0">
            <div class="item">
                <svg class="ico shopping-bag sx-40">
                    <use xlink:href="undefined#shopping-bag"></use>
                </svg>
                <div class="num"><span data-countup="21000">73 000</span></div>
                <div class="info">Lorem<br />ipsum dolor</div>
            </div>
        </div>
        <div class="col-6 col-lg-3 border-left border-top border-lg-top-0">
            <div class="item">
                <svg class="ico adjustments sx-40">
                    <use xlink:href="undefined#adjustments"></use>
                </svg>
                <div class="num"><span data-countup="700">224 000</span></div>
                <div class="info">Lorem<br />ipsum dolor</div>
            </div>
        </div>
    </div>
</div>
