
<div data-zanim-xs="{&quot;animation&quot;: &quot;slide-right&quot;, &quot;delay&quot;: 0}" data-zanim-trigger="scroll">
  <nav class="sidemenu com mb-4">
    <ul class="list-group"> 
      <li class="list-group-item"><a data-toggle="collapse" href="#sidemenu1" aria-expanded="true">Souřadnicové měřící stroje</a>
        <div class="collapse show" id="sidemenu1">
          <ul class="list-group">
            <li class="list-group-item"><a href="./katalog.html">CNC Měřící přístroje</a></li>
            <li class="list-group-item"><a href="./katalog.html">Manuální měřící přístroje</a></li>
          </ul>
        </div>
      </li>
      <li class="list-group-item"><a href="./katalog.html">Optické měřící přístroje</a></li>
      <li class="list-group-item"><a href="./katalog.html">Profilprojektory</a></li>
    </ul>
  </nav>
</div>