
<div data-zanim-xs="{&quot;animation&quot;:&quot;slide-left&quot;,&quot;delay&quot;:0 }" data-zanim-trigger="scroll">
  <div class="history-list-box com owl-carousel owl-theme owl-nav-outer owl-dot-round" data-options="{&quot;autoHeight&quot;: false, &quot;autoWidth&quot;: true, &quot;center&quot;: false, &quot;margin&quot;: 0, &quot;nav&quot;:false, &quot;autoplay&quot;:false, &quot;loop&quot;:false, &quot;dots&quot;: false,&quot;responsive&quot;:{&quot;0&quot;:{&quot;items&quot;:1, &quot;dots&quot;: true},&quot;576&quot;:{&quot;items&quot;:2 },&quot;992&quot;:{&quot;items&quot;: 2.5}}}">
    <div class="item">
      <div class="icon-box com s-88 border rounded-circle h5 mb-md-5">1.</div>
      <svg class="ico truck s-40 mb-4 text-primary">
        <use xlink:href="undefined#truck"></use>
      </svg>
      <p class="h5">Stroj přivezeme<br>a nainstalujeme</p>
    </div>
    <div class="item">
      <div class="icon-box com s-88 border rounded-circle h5 mb-md-5">2.</div>
      <svg class="ico adjustments s-40 mb-4 text-primary">
        <use xlink:href="undefined#adjustments"></use>
      </svg>
      <p class="h5">Kompletně<br>zkalibrujeme</p>
    </div>
    <div class="item">
      <div class="icon-box com s-88 border rounded-circle h5 mb-md-5">3.</div>
      <svg class="ico academic-cap s-40 mb-4 text-primary">
        <use xlink:href="undefined#academic-cap"></use>
      </svg>
      <p class="h5">Zaškolíme obsluhu<br>měřících strojů</p>
    </div>
    <div class="item">
      <div class="icon-box com s-88 border rounded-circle h5 mb-md-5">4.</div>
      <svg class="ico badge-check s-40 mb-4 text-primary">
        <use xlink:href="undefined#badge-check"></use>
      </svg>
      <p class="h5">Stroj přivezeme<br>a nainstalujeme</p>
    </div>
    <div class="item">
      <div class="icon-box com s-88 border rounded-circle h5 mb-md-5">5.</div>
      <svg class="ico chat s-40 mb-4 text-primary">
        <use xlink:href="undefined#chat"></use>
      </svg>
      <p class="h5">Stroj přivezeme<br>a nainstalujeme</p>
    </div>
  </div>
</div>