<div data-zanim-xs='{"animation": "slide-left", "delay": 0 }' data-zanim-trigger="scroll">
    <div class="quote-list-box com owl-carousel owl-theme" data-options='{"autoHeight": false, "autoWidth":true, "center": false, "margin": 0, "nav": false, "autoplay":false,"loop":false,"dots":false,"responsive":{"0":{"items":1.5, "nav": false, "dots": true},"576":{"items":2, "nav": false, "dots": true},"992":{"items": 2.5}}}'>
        <div class="item shadow-secondary">
            <div class="top">
                <p><span class="text-primary font-weight-bold">"</span> Spolupráce s firmou TM technik je postavena na vzájemné důvěře a podpoře. Veškeré činnosti jsou zajišťovány v oboru automotive a splňují veškeré standardy. Jedná se o naši jedinou externí firmu z tohoto oboru.“</p>
            </div>
            <div class="bottom">
                <picture><img src="https://via.placeholder.com/80x80.png" /></picture>
                <div class="in">
                    <p><strong>Kateřina Brodecká</strong><br /><small>Quality manager, CTS Czech Republic s.r.o.</small></p>
                </div>
            </div>
        </div>
        <div class="item shadow-secondary">
            <div class="top">
                <p><span class="text-primary font-weight-bold">"</span> Spolupráce s firmou TM technik je postavena na vzájemné důvěře a podpoře. Veškeré činnosti jsou zajišťovány v oboru automotive a splňují veškeré standardy. Jedná se o naši jedinou externí firmu z tohoto oboru.“</p>
            </div>
            <div class="bottom">
                <picture><img src="https://via.placeholder.com/80x80.png" /></picture>
                <div class="in">
                    <p><strong>Kateřina Brodecká</strong><br /><small>Quality manager, CTS Czech Republic s.r.o.</small></p>
                </div>
            </div>
        </div>
        <div class="item shadow-secondary">
            <div class="top">
                <p><span class="text-primary font-weight-bold">"</span> Spolupráce s firmou TM technik je postavena na vzájemné důvěře a podpoře. Veškeré činnosti jsou zajišťovány v oboru automotive a splňují veškeré standardy. Jedná se o naši jedinou externí firmu z tohoto oboru.“</p>
            </div>
            <div class="bottom">
                <picture><img src="https://via.placeholder.com/80x80.png" /></picture>
                <div class="in">
                    <p><strong>Kateřina Brodecká</strong><br /><small>Quality manager, CTS Czech Republic s.r.o.</small></p>
                </div>
            </div>
        </div>
        <div class="item shadow-secondary">
            <div class="top">
                <p><span class="text-primary font-weight-bold">"</span> Spolupráce s firmou TM technik je postavena na vzájemné důvěře a podpoře. Veškeré činnosti jsou zajišťovány v oboru automotive a splňují veškeré standardy. Jedná se o naši jedinou externí firmu z tohoto oboru.“</p>
            </div>
            <div class="bottom">
                <picture><img src="https://via.placeholder.com/80x80.png" /></picture>
                <div class="in">
                    <p><strong>Kateřina Brodecká</strong><br /><small>Quality manager, CTS Czech Republic s.r.o.</small></p>
                </div>
            </div>
        </div>
        <div class="item shadow-secondary">
            <div class="top">
                <p><span class="text-primary font-weight-bold">"</span> Spolupráce s firmou TM technik je postavena na vzájemné důvěře a podpoře. Veškeré činnosti jsou zajišťovány v oboru automotive a splňují veškeré standardy. Jedná se o naši jedinou externí firmu z tohoto oboru.“</p>
            </div>
            <div class="bottom">
                <picture><img src="https://via.placeholder.com/80x80.png" /></picture>
                <div class="in">
                    <p><strong>Kateřina Brodecká</strong><br /><small>Quality manager, CTS Czech Republic s.r.o.</small></p>
                </div>
            </div>
        </div>
        <div class="item shadow-secondary">
            <div class="top">
                <p><span class="text-primary font-weight-bold">"</span> Spolupráce s firmou TM technik je postavena na vzájemné důvěře a podpoře. Veškeré činnosti jsou zajišťovány v oboru automotive a splňují veškeré standardy. Jedná se o naši jedinou externí firmu z tohoto oboru.“</p>
            </div>
            <div class="bottom">
                <picture><img src="https://via.placeholder.com/80x80.png" /></picture>
                <div class="in">
                    <p><strong>Kateřina Brodecká</strong><br /><small>Quality manager, CTS Czech Republic s.r.o.</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
