<div class="owl-carousel owl-theme owl-nav-outer owl-dot-round" id="owl-sluzby" data-options='{ "margin": 25, "nav": true, "autoplay": false, "loop": true, "dots": false, "autoWidth": "true", "responsive": { "0": { "items":1, "nav": false, "dots": true }, "576": { "items": 2.5, "nav": false, "dots": true }, "992": { "items": 3.5 }}}'>
    <div class="item">
        <a class="card card-product com --type-1 shadow-primary" href="./detail.html">
            <picture class="w-100"><img src="https://via.placeholder.com/264x328.png" /></picture>
            <div class="card-body">
                <h2 class="h6 card-title">Souřadnicový měřící CNC stroj Azimuth 1200-1600</h2>
                <div class="card-text small">
                    <ul>
                        <li>Rozsah 1 200 - 1 600 nm</li>
                        <li>Rozlišení 0,5 nm</li>
                        <li>Rozsah provozních teplot 0-45°C</li>
                    </ul>
                </div>
            </div></a
        >
    </div>
    <div class="item">
        <a class="card card-product com --type-1 shadow-primary" href="./detail.html">
            <picture class="w-100"><img src="https://via.placeholder.com/264x328.png" /></picture>
            <div class="card-body">
                <h2 class="h6 card-title">Souřadnicový měřící CNC stroj Azimuth 1200-1600</h2>
                <div class="card-text small">
                    <ul>
                        <li>Rozsah 1 200 - 1 600 nm</li>
                        <li>Rozlišení 0,5 nm</li>
                        <li>Rozsah provozních teplot 0-45°C</li>
                    </ul>
                </div>
            </div></a
        >
    </div>
    <div class="item">
        <a class="card card-product com --type-1 shadow-primary" href="./detail.html">
            <picture class="w-100"><img src="https://via.placeholder.com/264x328.png" /></picture>
            <div class="card-body">
                <h2 class="h6 card-title">Souřadnicový měřící CNC stroj Azimuth 1200-1600</h2>
                <div class="card-text small">
                    <ul>
                        <li>Rozsah 1 200 - 1 600 nm</li>
                        <li>Rozlišení 0,5 nm</li>
                        <li>Rozsah provozních teplot 0-45°C</li>
                    </ul>
                </div>
            </div></a
        >
    </div>
    <div class="item">
        <a class="card card-product com --type-1 shadow-primary" href="./detail.html">
            <picture class="w-100"><img src="https://via.placeholder.com/264x328.png" /></picture>
            <div class="card-body">
                <h2 class="h6 card-title">Souřadnicový měřící CNC stroj Azimuth 1200-1600</h2>
                <div class="card-text small">
                    <ul>
                        <li>Rozsah 1 200 - 1 600 nm</li>
                        <li>Rozlišení 0,5 nm</li>
                        <li>Rozsah provozních teplot 0-45°C</li>
                    </ul>
                </div>
            </div></a
        >
    </div>
    <div class="item">
        <a class="card card-product com --type-1 shadow-primary" href="./detail.html">
            <picture class="w-100"><img src="https://via.placeholder.com/264x328.png" /></picture>
            <div class="card-body">
                <h2 class="h6 card-title">Souřadnicový měřící CNC stroj Azimuth 1200-1600</h2>
                <div class="card-text small">
                    <ul>
                        <li>Rozsah 1 200 - 1 600 nm</li>
                        <li>Rozlišení 0,5 nm</li>
                        <li>Rozsah provozních teplot 0-45°C</li>
                    </ul>
                </div>
            </div></a
        >
    </div>
    <div class="item">
        <a class="card card-product com --type-1 shadow-primary" href="./detail.html">
            <picture class="w-100"><img src="https://via.placeholder.com/264x328.png" /></picture>
            <div class="card-body">
                <h2 class="h6 card-title">Souřadnicový měřící CNC stroj Azimuth 1200-1600</h2>
                <div class="card-text small">
                    <ul>
                        <li>Rozsah 1 200 - 1 600 nm</li>
                        <li>Rozlišení 0,5 nm</li>
                        <li>Rozsah provozních teplot 0-45°C</li>
                    </ul>
                </div>
            </div></a
        >
    </div>
    <div class="item">
        <a class="card card-product com --type-1 shadow-primary" href="./detail.html">
            <picture class="w-100"><img src="https://via.placeholder.com/264x328.png" /></picture>
            <div class="card-body">
                <h2 class="h6 card-title">Souřadnicový měřící CNC stroj Azimuth 1200-1600</h2>
                <div class="card-text small">
                    <ul>
                        <li>Rozsah 1 200 - 1 600 nm</li>
                        <li>Rozlišení 0,5 nm</li>
                        <li>Rozsah provozních teplot 0-45°C</li>
                    </ul>
                </div>
            </div></a
        >
    </div>
    <div class="item">
        <a class="card card-product com --type-1 shadow-primary" href="./detail.html">
            <picture class="w-100"><img src="https://via.placeholder.com/264x328.png" /></picture>
            <div class="card-body">
                <h2 class="h6 card-title">Souřadnicový měřící CNC stroj Azimuth 1200-1600</h2>
                <div class="card-text small">
                    <ul>
                        <li>Rozsah 1 200 - 1 600 nm</li>
                        <li>Rozlišení 0,5 nm</li>
                        <li>Rozsah provozních teplot 0-45°C</li>
                    </ul>
                </div>
            </div></a
        >
    </div>
    <div class="item">
        <a class="card card-product com --type-1 shadow-primary" href="./detail.html">
            <picture class="w-100"><img src="https://via.placeholder.com/264x328.png" /></picture>
            <div class="card-body">
                <h2 class="h6 card-title">Souřadnicový měřící CNC stroj Azimuth 1200-1600</h2>
                <div class="card-text small">
                    <ul>
                        <li>Rozsah 1 200 - 1 600 nm</li>
                        <li>Rozlišení 0,5 nm</li>
                        <li>Rozsah provozních teplot 0-45°C</li>
                    </ul>
                </div>
            </div></a
        >
    </div>
    <div class="item">
        <a class="card card-product com --type-1 shadow-primary" href="./detail.html">
            <picture class="w-100"><img src="https://via.placeholder.com/264x328.png" /></picture>
            <div class="card-body">
                <h2 class="h6 card-title">Souřadnicový měřící CNC stroj Azimuth 1200-1600</h2>
                <div class="card-text small">
                    <ul>
                        <li>Rozsah 1 200 - 1 600 nm</li>
                        <li>Rozlišení 0,5 nm</li>
                        <li>Rozsah provozních teplot 0-45°C</li>
                    </ul>
                </div>
            </div></a
        >
    </div>
    <div class="item">
        <a class="card card-product com --type-1 shadow-primary" href="./detail.html">
            <picture class="w-100"><img src="https://via.placeholder.com/264x328.png" /></picture>
            <div class="card-body">
                <h2 class="h6 card-title">Souřadnicový měřící CNC stroj Azimuth 1200-1600</h2>
                <div class="card-text small">
                    <ul>
                        <li>Rozsah 1 200 - 1 600 nm</li>
                        <li>Rozlišení 0,5 nm</li>
                        <li>Rozsah provozních teplot 0-45°C</li>
                    </ul>
                </div>
            </div></a
        >
    </div>
    <div class="item">
        <a class="card card-product com --type-1 shadow-primary" href="./detail.html">
            <picture class="w-100"><img src="https://via.placeholder.com/264x328.png" /></picture>
            <div class="card-body">
                <h2 class="h6 card-title">Souřadnicový měřící CNC stroj Azimuth 1200-1600</h2>
                <div class="card-text small">
                    <ul>
                        <li>Rozsah 1 200 - 1 600 nm</li>
                        <li>Rozlišení 0,5 nm</li>
                        <li>Rozsah provozních teplot 0-45°C</li>
                    </ul>
                </div>
            </div></a
        >
    </div>
    <div class="item">
        <a class="card card-product com --type-1 shadow-primary" href="./detail.html">
            <picture class="w-100"><img src="https://via.placeholder.com/264x328.png" /></picture>
            <div class="card-body">
                <h2 class="h6 card-title">Souřadnicový měřící CNC stroj Azimuth 1200-1600</h2>
                <div class="card-text small">
                    <ul>
                        <li>Rozsah 1 200 - 1 600 nm</li>
                        <li>Rozlišení 0,5 nm</li>
                        <li>Rozsah provozních teplot 0-45°C</li>
                    </ul>
                </div>
            </div></a
        >
    </div>
    <div class="item">
        <a class="card card-product com --type-1 shadow-primary" href="./detail.html">
            <picture class="w-100"><img src="https://via.placeholder.com/264x328.png" /></picture>
            <div class="card-body">
                <h2 class="h6 card-title">Souřadnicový měřící CNC stroj Azimuth 1200-1600</h2>
                <div class="card-text small">
                    <ul>
                        <li>Rozsah 1 200 - 1 600 nm</li>
                        <li>Rozlišení 0,5 nm</li>
                        <li>Rozsah provozních teplot 0-45°C</li>
                    </ul>
                </div>
            </div></a
        >
    </div>
    <div class="item">
        <a class="card card-product com --type-1 shadow-primary" href="./detail.html">
            <picture class="w-100"><img src="https://via.placeholder.com/264x328.png" /></picture>
            <div class="card-body">
                <h2 class="h6 card-title">Souřadnicový měřící CNC stroj Azimuth 1200-1600</h2>
                <div class="card-text small">
                    <ul>
                        <li>Rozsah 1 200 - 1 600 nm</li>
                        <li>Rozlišení 0,5 nm</li>
                        <li>Rozsah provozních teplot 0-45°C</li>
                    </ul>
                </div>
            </div></a
        >
    </div>
</div>
