
<div data-zanim-xs="{&quot;animation&quot;: &quot;slide-left&quot;, &quot;delay&quot;: 0 }" data-zanim-trigger="scroll">
  <div class="quote-list-box com owl-carousel owl-theme" data-options="{&quot;autoHeight&quot;: false, &quot;autoWidth&quot;:true, &quot;center&quot;: false, &quot;margin&quot;: 0, &quot;nav&quot;: false, &quot;autoplay&quot;:false,&quot;loop&quot;:false,&quot;dots&quot;:false,&quot;responsive&quot;:{&quot;0&quot;:{&quot;items&quot;:1.5, &quot;nav&quot;: false, &quot;dots&quot;: true},&quot;576&quot;:{&quot;items&quot;:2, &quot;nav&quot;: false, &quot;dots&quot;: true},&quot;992&quot;:{&quot;items&quot;: 2.5}}}">
    <div class="item shadow-secondary">
      <div class="top">
        <p><span class="text-primary font-weight-bold">"</span> Spolupráce s firmou TM technik je postavena na vzájemné důvěře a podpoře. Veškeré činnosti jsou zajišťovány v oboru automotive a splňují veškeré standardy. Jedná se o naši jedinou externí firmu z tohoto oboru.“</p>
      </div>
      <div class="bottom">
        <picture><img src="https://via.placeholder.com/80x80.png"/></picture>
        <div class="in">
          <p><strong>Kateřina Brodecká</strong><br/><small>Quality manager, CTS Czech Republic s.r.o.</small></p>
        </div>
      </div>
    </div>
    <div class="item shadow-secondary">
      <div class="top">
        <p><span class="text-primary font-weight-bold">"</span> Spolupráce s firmou TM technik je postavena na vzájemné důvěře a podpoře. Veškeré činnosti jsou zajišťovány v oboru automotive a splňují veškeré standardy. Jedná se o naši jedinou externí firmu z tohoto oboru.“</p>
      </div>
      <div class="bottom">
        <picture><img src="https://via.placeholder.com/80x80.png"/></picture>
        <div class="in">
          <p><strong>Kateřina Brodecká</strong><br/><small>Quality manager, CTS Czech Republic s.r.o.</small></p>
        </div>
      </div>
    </div>
    <div class="item shadow-secondary">
      <div class="top">
        <p><span class="text-primary font-weight-bold">"</span> Spolupráce s firmou TM technik je postavena na vzájemné důvěře a podpoře. Veškeré činnosti jsou zajišťovány v oboru automotive a splňují veškeré standardy. Jedná se o naši jedinou externí firmu z tohoto oboru.“</p>
      </div>
      <div class="bottom">
        <picture><img src="https://via.placeholder.com/80x80.png"/></picture>
        <div class="in">
          <p><strong>Kateřina Brodecká</strong><br/><small>Quality manager, CTS Czech Republic s.r.o.</small></p>
        </div>
      </div>
    </div>
    <div class="item shadow-secondary">
      <div class="top">
        <p><span class="text-primary font-weight-bold">"</span> Spolupráce s firmou TM technik je postavena na vzájemné důvěře a podpoře. Veškeré činnosti jsou zajišťovány v oboru automotive a splňují veškeré standardy. Jedná se o naši jedinou externí firmu z tohoto oboru.“</p>
      </div>
      <div class="bottom">
        <picture><img src="https://via.placeholder.com/80x80.png"/></picture>
        <div class="in">
          <p><strong>Kateřina Brodecká</strong><br/><small>Quality manager, CTS Czech Republic s.r.o.</small></p>
        </div>
      </div>
    </div>
    <div class="item shadow-secondary">
      <div class="top">
        <p><span class="text-primary font-weight-bold">"</span> Spolupráce s firmou TM technik je postavena na vzájemné důvěře a podpoře. Veškeré činnosti jsou zajišťovány v oboru automotive a splňují veškeré standardy. Jedná se o naši jedinou externí firmu z tohoto oboru.“</p>
      </div>
      <div class="bottom">
        <picture><img src="https://via.placeholder.com/80x80.png"/></picture>
        <div class="in">
          <p><strong>Kateřina Brodecká</strong><br/><small>Quality manager, CTS Czech Republic s.r.o.</small></p>
        </div>
      </div>
    </div>
    <div class="item shadow-secondary">
      <div class="top">
        <p><span class="text-primary font-weight-bold">"</span> Spolupráce s firmou TM technik je postavena na vzájemné důvěře a podpoře. Veškeré činnosti jsou zajišťovány v oboru automotive a splňují veškeré standardy. Jedná se o naši jedinou externí firmu z tohoto oboru.“</p>
      </div>
      <div class="bottom">
        <picture><img src="https://via.placeholder.com/80x80.png"/></picture>
        <div class="in">
          <p><strong>Kateřina Brodecká</strong><br/><small>Quality manager, CTS Czech Republic s.r.o.</small></p>
        </div>
      </div>
    </div>
  </div>
</div>