
<div class="position-relative z-index-4" data-zanim-xs="{&quot;animation&quot;: &quot;default&quot;, &quot;delay&quot;: 0}" data-zanim-trigger="scroll">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="bg-white p-3 shadow-primary rounded-2 translate-y-middle position-relative z-index-4">
        <div class="row">
          <div class="col-4">
            <div class="d-md-flex align-items-center justify-content-center">
              <div class="border-dashed d-flex align-items-center justify-content-center rounded-circle sx-40 sx-md-64 mr-3 mb-2 mb-md-0">
                <svg class="ico thumb-up sx-24 sx-md-40 text-primary">
                  <use xlink:href="undefined#thumb-up"></use>
                </svg>
              </div>Prověřené<br>značky
            </div>
          </div>
          <div class="col-4 border-left">
            <div class="d-md-flex align-items-center justify-content-center">
              <div class="border-dashed d-flex align-items-center justify-content-center rounded-circle sx-40 sx-md-64 mr-3 mb-2 mb-md-0">
                <svg class="ico chat-alt-2 sx-24 sx-md-40 text-primary">
                  <use xlink:href="undefined#chat-alt-2"></use>
                </svg>
              </div>Portadenství<br>a&nbsp;konzultace
            </div>
          </div>
          <div class="col-4 border-left">
            <div class="d-md-flex align-items-center justify-content-center">
              <div class="border-dashed d-flex align-items-center justify-content-center rounded-circle sx-40 sx-md-64 mr-3 mb-2 mb-md-0">
                <svg class="ico collection sx-24 sx-md-40 text-primary">
                  <use xlink:href="undefined#collection"></use>
                </svg>
              </div>Široký<br>sortiment
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>