extends ./layout/layout.pug

block variables
    - var title = 'Cart (Step 2)'

block main

        .spacer.pt-4.pt-md-5

        section
            .container
                include  ./partials/breadcrumbs

        section
            .spacer.pt-5
            .container
                h1.h2.text-uppercase Košík
            .spacer.pt-4

        section
            .container
                //- Cart steps - Desktop
                .bg-white.border.border-capsule.p-2.d-none.d-md-block
                    .row.gutters-md
                        .col-4
                            a(href="./cart-1.html").d-flex.h-100.align-items-center.p-3.text-none.border-capsule.hover-bg-primary-alpha-20
                                .icon-box-inline.sx-40.rounded-circle.border.bg-primary.text-white.border-current.mr-3
                                    +sprite("check", "sx-24")
                                .line-h-100 1. Cart
                                .d-inline-block.sx-32.ml-auto
                                    +sprite("chevron-right", "sx-32")
                        .col-4
                            .d-flex.h-100.align-items-center.p-3.text-none.border-capsule.bg-gradient-primary.text-white
                                .icon-box-inline.sx-40.rounded-circle.border.border-current.mr-3
                                    +sprite("truck", "sx-24")
                                .line-h-100 2. Shipping / Payment
                                .d-inline-block.sx-32.ml-auto
                                    +sprite("chevron-right", "sx-32")
                        .col-4
                            .d-flex.h-100.align-items-center.p-3.text-none.border-capsule.text-500
                                .icon-box-inline.sx-40.rounded-circle.border.border-current.mr-3
                                    +sprite("identification", "sx-24")
                                .line-h-100 3. Delivery
                //- Cart steps - Mobile
                .d-md-none.bg-white.border.rounded.p-2.text-center
                    .row.gutters-sm
                        .col-4
                            a(href="./cart-1.html").d-block.h-100.py-4.px-3.text-none.rounded.hover-bg-primary-alpha-20
                                .icon-box-inline.sx-40.border.border-current.rounded-circle.bg-primary.text-white.mb-3
                                    +sprite("check", "sx-24")
                                .line-h-100 1. Cart
                        .col-4
                            .d-block.h-100.py-4.px-3.text-none.rounded.bg-gradient-primary.text-white
                                .icon-box-inline.sx-40.border.border-current.rounded-circle.mb-3
                                    +sprite("truck", "sx-24")
                                .line-h-100 2. Shipping
                        .col-4
                            .d-block.h-100.py-4.px-3.text-none.rounded.border-capsule.text-500
                                .icon-box-inline.sx-40.border.border-current.rounded-circle.mb-3
                                    +sprite("identification", "sx-24")
                                .line-h-100 3. Delivery
            .spacer.pt-5

        section
            .container
                .row
                    .col-lg-8.mb-4.mb-lg-0
                        h2.h5 Výběr dopravy
                        each $item in $Data.shippings
                            .cart-checkbox-row
                                label.d-flex.align-items-center.py-3.px-2.px-md-4.bg-100.border.border-100.rounded.hover-bg-primary-alpha-10.transition-primary
                                    input(type="radio" name="shipping").ml-1.mr-2.mr-mb-3
                                    .icon-box.sx-56.border.rounded-circle.bg-white.mr-3.d-none.d-md-flex
                                        +placeholder(35, 35)
                                    div.cart-checkbox-row__label.line-h-120
                                        .font-weight-bold= $item[0]
                                        .small= $item[1]
                                    .bg-holder.rounded
                                    div.cart-checkbox-row__price= $item[2]

                        .spacer.pt-5

                        h2.h5 Výběr platby
                        each $item in $Data.payments
                            .cart-checkbox-row
                                label.d-flex.align-items-center.py-3.px-2.px-md-4.bg-100.border.border-100.rounded.hover-bg-primary-alpha-10.transition-primary
                                    input(type="radio" name="payment").ml-1.mr-2.mr-mb-3
                                    .icon-box.sx-56.border.rounded-circle.bg-white.mr-3.d-none.d-md-flex
                                        +placeholder(35, 35)
                                    div.cart-checkbox-row__label.line-h-120
                                        .font-weight-bold= $item[0]
                                        .small= $item[1]
                                    .bg-holder.rounded
                                    div.cart-checkbox-row__price= $item[2]
                    .col-lg-4
                        .pl-lg-4
                            h2.h5 Shrnutí objednávky
                            .border.rounded.py-4.px-3
                                each $item in $Data.cartContent
                                    .d-flex.align-items-center.mb-3
                                        +placeholder(48, 48, "mr-3")
                                        .text-micro.pr-3
                                            .line-clamp.line-clamp__1= $item[0]
                                            | (12 Ks)
                                        .ml-auto.text-nowrap.font-weight-bold.small 121 000 Kč
                                .spacer.pt-3
                                .border-top
                                .spacer.pt-3
                                table.w-100.small
                                    tr
                                        td DPD Kurýr
                                        td.text-right.text-nowrap 190 Kč
                                    tr
                                        td Dobírka
                                        td.text-right ZDARMA
                                    tr
                                        td Celkem bez DPH
                                        td.text-right.text-nowrap 100 000 Kč
                                    tr
                                        td.align-bottom Celkem s DPH
                                        td.h5.text-right.text-nowrap.align-bottom 121 000 Kč
            .spacer.pt-5

        section
            .container
                .d-flex.justify-content-between.align-items-center.border-top.border-bottom.border-200.py-3
                    a(href="./product.html").btn.btn-lg.btn-link.primary
                        +sprite("arrow-narrow-left", "sx-24 mr-2")
                        | Zpět k nákupu
                    a(href="./cart-3.html").btn.btn-lg.flex-grow-0.btn-green.d-inline-flex.align-items-center.text-uppercase
                        | Pokračovat
                        +sprite("arrow-narrow-right", "sx-24 ml-2")
            .spacer.pt-6

        section
            .container
                h3 Alternativní produkty
                .js-owl-carousel.owl-carousel.owl-theme(data-options='{ "margin": 10, "dots": false, "nav": true, "items": 2, "responsive": { "720": { "items": 3 }, "960": { "items": 4, "margin": 24 }} }')
                    each $item in $Data.productsAlternatives[1]
                        +card-product-alt($item, $Data.productsAlternatives[0])
            .spacer.pt-5

        section
            .container
                h3 Příslušenství
                .js-owl-carousel.owl-carousel.owl-theme(data-options='{ "margin": 10, "dots": false, "nav": true, "items": 2, "responsive": { "720": { "items": 3 }, "960": { "items": 4, "margin": 24 }} }')
                    each $item in $Data.productsAlternatives[1]
                        +card-product-alt($item, $Data.productsAlternatives[0])
            .spacer.pt-5