extends ./layout/layout.pug

block variables
    - var title = 'Components'

block header

block main

        .spacer.pt-7

        section
            .container
                h2.mb-4.text-muted Box list

        section
            .container
                .box-list.com.--type-1
                    .row
                        each val, index in ['Title', 'Title']
                            .col-md-6
                                a(href="#!").item.shadow-primary
                                    .cell
                                        h4.font-weight-light.title= val
                                        span.btn-circle.s-40.shadow-secondary
                                            +sprite('arrow-narrow-right', 's-18')
                                    .cell
                                        +placeholder(120, 200)
                                    .overlay

        .spacer.pt-8

        section
            .container
                h2.mb-4.text-muted Numbers

        section
            .container
                include partials/numbers

        .spacer.pt-8

        section
            .container
                h2.mb-4.text-muted Quote-list-box

        section
            .container
                .quote-list-box.com
                    .item.shadow-secondary
                        .top
                            p <span class="text-primary font-weight-bold">"</span> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque tincidunt scelerisque libero. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui.
                        .bottom
                            +placeholder(80, 80)
                            .in
                                p
                                    strong John Doe
                                    br
                                    small Quality manager, Company s.r.o.


        .spacer.pt-8

        section
            .container
                include partials/logo-partners

        .spacer.pt-7

        section
            .container
                h3 Klienti nás mají rádi

        .spacer.pt-2

        section
            .container
                include ./partials/slider-quote-box

        .spacer.pt-7

        section
            .container
                h3 Aktuality

        .spacer.pt-4

        section
            .container
                .row.justify-content-center
                    .col-12.col-sm-6.col-lg-4.mb-4
                        +news-box("Title na řádek")
                    .col-12.col-sm-6.col-lg-4.mb-4
                        +news-box("O moc delší title, který je na více řádků")
                    .col-12.col-sm-6.col-lg-4.mb-4
                        +news-box()
                .text-center.my-4
                    a(href="aktuality.html").btn.btn-primary Více aktualit

        .spacer.pt-7