extends ./layout/layout.pug

block variables
    - var title = 'Detail produktu'

block header
    include ./layout/header

block main

    main.main

        section.teaser.com
            .container
                .in.d-flex.align-items-start.flex-column.pb-6
                    include ./partials/breadcrumbs
                    h1.text-center <i>CNC měřící stroje</i>

        .spacer.pt-5

        section
            .container
                .row
                    .col-md-5.col-lg-3
                        include ./partials/sidemenu

                    .col-md-7.col-lg-9

                        // Product gallery
                        .product-detail
                            .product-top
                                .row
                                    .col-lg-6.mb-5.mb-lg-0
                                        .product-gallery-preview
                                            #first.product-gallery-preview-item.active
                                                a(href="https://via.placeholder.com/1024x768.png?text=Product%20photo%20detail%20(1024%20x%20768)" data-fancybox="prod-detail")
                                                    +placeholder(406, 336, '', 'w-100', '/888888')
                                            #second.product-gallery-preview-item
                                                a(href="https://via.placeholder.com/1024x768.png?text=Product%20photo%20detail%20(1024%20x%20768)" data-fancybox="prod-detail")
                                                    +placeholder(406, 336, '', 'w-100', '/BBBBBB')
                                            #third.product-gallery-preview-item
                                                a(href="https://via.placeholder.com/1024x768.png?text=Product%20photo%20detail%20(1024%20x%20768)" data-fancybox="prod-detail")
                                                    +placeholder(406, 336, '', 'w-100', '/DDDDDD')
                                    .col-lg-6
                                        .product-info
                                            h2.h4.mb-4
                                                | Souřadnicový měřící CNC stroj Azimuth 1200-1600
                                            p
                                                | Katalogové číslo: CNC axiom 1200
                                            p
                                                | Výrobce:
                                                +placeholder(146, 36, "ml-2 d-inline-block")
                                            .border.border-primary.rounded.p-3.mt-5.d-flex.justify-content-between.align-items-center
                                                | Cena na vyžádání
                                                a(href="#form" data-fancyscroll="true").btn.btn-primary Poptat cenu

                            .product-gallery-thumblist
                                a(href='#first').product-gallery-thumblist-item.active
                                    +placeholder(130, 96, '', '', '/888888')
                                a(href='#second').product-gallery-thumblist-item
                                    +placeholder(130, 96, '', '', '/BBBBBB')
                                a(href='#third').product-gallery-thumblist-item
                                    +placeholder(130, 96, '', '', '/DDDDDD')

                        .spacer.pt-5

                        .fancy-tab
                            .nav-bar
                                .nav-bar-item.active(style="width: 50%") Popis produktu
                                .nav-bar-item(style="width: 50%") Technické parametry
                            .tab-contents
                                .tab-content.active
                                    ul
                                        li Made in GB
                                        li Přesnost: TP20 (2,4+0,4L/100) µm, TP200 (2,3+0,4L/100) µm, SP25M (2,1+0,4L/100) µm
                                        li Rozlišení: 0,5µm - Optimální teplota: 18-22°C
                                        li Rozsah provozních teplot: 0-45°C
                                        li Stůl: Voštinová hliníkovo-granitová deska nebo plný granit
                                        li Nosnost stolu: 300 kg (voštinová deska), 500 kg (plný granit)
                                        li Max.vektorová rychlost: 600 mm/sec (CNC)
                                        li Max.vektorové zrychlení: 600 mm/sec2 (CNC)
                                        li Spotřeba vzduchu: 50 l/min
                                        li Požadovaný tlak vzduchu: 4 bar
                                .tab-content
                                    p ...

                        .spacer.pt-6

                        .video-box.com(data-zanim-xs='{"animation":"slide-down","delay":0}' data-zanim-trigger="scroll")
                            .video
                                a(href="https://www.youtube.com/watch?v=FCPdIvXo2rU" data-fancybox data-options="{'youtube':{'start':30,'end': 35}}")
                                    +placeholder(840, 424)
                                    svg.play(width='96' height='96' viewbox='0 0 96 96' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M95.6189 48C95.6189 54.2535 94.3873 60.4456 91.9942 66.2231C89.6011 72.0005 86.0935 77.2499 81.6716 81.6718C77.2498 86.0936 72.0003 89.6012 66.2229 91.9943C60.4455 94.3874 54.2533 95.6191 47.9999 95.6191C41.7465 95.6191 35.5543 94.3874 29.7769 91.9943C23.9995 89.6012 18.75 86.0936 14.3282 81.6718C9.90632 77.2499 6.39872 72.0005 4.00564 66.2231C1.61256 60.4456 0.380859 54.2535 0.380859 48C0.380859 35.3707 5.39785 23.2586 14.3282 14.3283C23.2585 5.39797 35.3705 0.380981 47.9999 0.380981C60.6293 0.380981 72.7413 5.39797 81.6716 14.3283C90.602 23.2586 95.6189 35.3707 95.6189 48ZM40.2078 32.0551L40.2125 63.9508L64.9161 48.0043L40.2078 32.0551Z' fill='white')

                        .spacer.pt-6

                        #form
                        include ./forms/form-contact-small

        .spacer.pt-7

        section
            .container
                .row
                    .col-md-3
                    .col-md-9
                        h4.mb-4.font-weight-light Mohlo by vás zajímat

        section
            .container
                include ./partials/slider-products

        .spacer.pt-7