extends ./layout/layout.pug

block variables
    - var title = 'Homepage'

block main

        section#teaser
            .container
                .spacer.pt-6
                    include ./partials/teaser-1
                .spacer.pt-6

        section.bg-linear-down-light#category-list
            .spacer.pt-6
            .container
                .row.gutters-md
                    each $item, $key in $Data.productCategories
                        .col-md-4.col-lg-3.mb-4.mb-md-5
                            .card
                                .card-header.d-flex.justify-content-between.align-items-center.bg-gradient-primary.min-h-md-96
                                    h3.h6.mb-0.text-uppercase.line-h-120.text-white !{$item[0]}
                                    img(width="32" src= $imgDir + $item[1]).ml-4
                                .card-body.bg-white.py-3.px-4
                                    ul.nav.small
                                        - var $i = 0
                                        while $i < 4
                                            li.w-100
                                                if $i < 3
                                                    a(href="#!").d-flex.justify-content-between.align-items-center.text-dark.py-2 Category item #{$i}
                                                        +sprite("chevron-right", "sx-8 ml-4")
                                                else 
                                                    a(href="#!").d-flex.justify-content-between.align-items-center.py-2.text-primary.text-uppercase.font-weight-bold All in category
                                                        +sprite("chevron-right", "sx-8 ml-4")
                                            -$i++
            //.spacer.pt-6

        section.border-top#products-cards-big
            .container
                .spacer.pt-6
                .row.gutters-md
                    each $item in $Data.productsAlternatives[1]
                        .col-md-6.col-lg-3.mb-4.mb-lg-0
                            +card-product-big($item, $Data.productsAlternatives[0])
                .spacer.pt-6

        section.border-top#video-box
            .spacer.pt-6
            .container
                h2.h3.text-uppercase NAŠE VIDEA
                .row
                    .col-md-4.mb-3
                        +video-box("H70/104AC pohony H30/645 ROGER Technology")
                    .col-md-4.mb-3
                        +video-box("H70/104AC pohony H30/645 ROGER Technology")
                    .col-md-4.mb-3
                        +video-box("H70/104AC pohony H30/645 ROGER Technology")
            .spacer.pt-6

        section.border-top#logos
            .spacer.pt-6
            .container
                h2.h3.text-uppercase ZNAČKY NAŠICH DODAVATELŮ
                include partials/logo-partners
            .spacer.pt-6