extends ./layout/layout.pug

block variables
    - var title = 'Homepage'

block main

        section#teaser
            .spacer.pt-6
            .container
                    include ./partials/teaser-1
            .spacer.pt-6

        section.bg-linear-down-light#category-list
            .spacer.pt-5.pt-md-7
            .container
                h2.h3.text-uppercase Nabídka produktů přehledně
                .row.gutters-md
                    each $item, $key in $Data.productCategories
                        .col-md-4.col-lg-3.mb-4
                            +card-category-box($item)
            .spacer.pt-6

        section
            .spacer.pt-6
            .container
                h2.h3.text-uppercase Produkty v akci
                .row.gutters-md
                    each $item in $Data.productsHomepage[1]
                        .col-md-6.col-lg-3.mb-2
                            +card-product-big($item, $Data.productsHomepage[0])
            .spacer.pt-6

        section
            .container
                h2.h3.text-uppercase NAŠE VIDEA
                .row
                    .col-md-4.mb-3
                        +video-box("H70/104AC pohony H30/645 ROGER Technology")
                    .col-md-4.mb-3
                        +video-box("H70/104AC pohony H30/645 ROGER Technology")
                    .col-md-4.mb-3
                        +video-box("H70/104AC pohony H30/645 ROGER Technology")
            .spacer.pt-6

        section
            .container
                h2.h3.text-uppercase ZNAČKY NAŠICH DODAVATELŮ
                include partials/logo-partners
            .spacer.pt-6