extends ./layout/layout.pug

block variables
    - var title = 'Rozcestník stránek'

block header
    include ./layout/header

block main

        .bg-primary-alpha-10.py-6
            .container
                .row.justify-content-center
                    .col-md-8
                        h1.text-primary ePohony <i>šablony</i>

        .container.py-3.py-md-7
            .row.justify-content-center
                .col-md-4
                    ul.pt-3.pb-6
                        li: a(href="./components.html"): h5 00. Components
                        li: a(href="./homepage.html"): h5 01. Homepage
                        li: a(href="./catalog.html"): h5 02. Catalog
                        li: a(href="./product.html"): h5 03. Product
                        li: a(href="./cart.html"): h5 04. Cart
                        li: a(href="./cart-1.html"): h5 05. Cart (Step 1)
                        li: a(href="./cart-2.html"): h5 06. Cart (Step 2)
                        li: a(href="./cart-3.html"): h5 07. Cart (Step 3)
                        li: a(href="./cart-4.html"): h5 08. Cart (Step 4)
                        li: a(href="./user-info.html"): h5 09. User (Info)
                        li: a(href="./user-orders.html"): h5 10. User (Orders)
                        li: a(href="./user-documents.html"): h5 11. User (Documents)
                        li: a(href="./user-addresses.html"): h5 12. User (Adresses)
                        li: a(href="./user-search.html"): h5 13. User (Search)
                        li: a(href= $buildUrl + "svg/sprite.defs.html").text-secondary: h5.text-primary Icons sprite sheet
                .col-md-4
                    .d-none.d-md-block
                        //- img(src= $imgDir + "qr.png")