extends ./layout/layout.pug

block variables
    - var title = 'Prodej komunálních měřidel'

block header
    include ./layout/header

block main

    main.main

        section.teaser.com
            .container
                .in.d-flex.align-items-center.flex-column.pb-8
                    include ./partials/breadcrumbs
                    h1.text-center Prodej <i>komunálních měřidel</i>
        section
            .container
                include ./partials/teaser-icons.pug

        .spacer.pt-2

        section
            .container
                .box-list.com.--type-2
                    .row
                        .col-md-6
                            a(href="./katalog.html").item.bg-gray-down
                                .cell
                                    h4.title
                                        | Souřadnicové měřící stroje
                                        +sprite("external-link", "s-24")
                                    p Arcu aliquet porttitor et viverra. Nulla nec aenean sem scelerisque faucibus.
                                .cell
                                    +picture("homepage/cat1@1x.png", "homepage/cat1@2x.png")
                        .col-md-6
                            a(href="./katalog.html").item.bg-gray-down
                                .cell
                                    h4.title
                                        | Souřadnicové měřící stroje
                                        +sprite("external-link", "s-24")
                                    p Arcu aliquet porttitor et viverra. Nulla nec aenean sem scelerisque faucibus.
                                .cell
                                    +picture("homepage/cat1@1x.png", "homepage/cat1@2x.png")
                        .col-12
                            a(href="./katalog.html").item.bg-gray-down
                                .cell
                                    h4.title
                                        | Uchylkoměry
                                        +sprite("external-link", "s-24")
                                    p Arcu aliquet porttitor et viverra. Nulla nec aenean sem scelerisque faucibus.
                                .cell
                                    +picture("homepage/cat1@1x.png", "homepage/cat1@2x.png")
                        .col-md-6
                            a(href="./katalog.html").item.bg-gray-down
                                .cell
                                    h4.title
                                        | Souřadnicové měřící stroje
                                        +sprite("external-link", "s-24")
                                    p Arcu aliquet porttitor et viverra. Nulla nec aenean sem scelerisque faucibus.
                                .cell
                                    +picture("homepage/cat1@1x.png", "homepage/cat1@2x.png")
                        .col-md-6
                            a(href="./katalog.html").item.bg-gray-down
                                .cell
                                    h4.title
                                        | Souřadnicové měřící stroje
                                        +sprite("external-link", "s-24")
                                    p Arcu aliquet porttitor et viverra. Nulla nec aenean sem scelerisque faucibus.
                                .cell
                                    +picture("homepage/cat1@1x.png", "homepage/cat1@2x.png")

        .spacer.pt-7