extends ./layout/layout.pug

block variables
    - var title = 'Instalace a servis strojů'

block header
    include ./layout/header

block main

    main.main

        .teaser-hp.com

            .spacer.py-6

            .container
                .in.d-flex.align-items-center.flex-column
                    include ./partials/breadcrumbs
                    h1 <i>Instalace a servis</i> strojů
                    .perex.com
                        p Naše servisní oddělení poskytuje veškerý záruční a pozáruční servis dodávaných produktů
                    .text-center
                        a(href="#content" data-fancyscroll="true").btn-circle.mx-auto.s-56.shadow-primary
                            +sprite('arrow-narrow-right', 's-18 rotate-r-90')

            .spacer.pt-4

        .spacer.pt-8

        section#content
            .container
                h2.h3.mb-4 Jak probíhá instalace

        .spacer.pt-3

        section
            .container
                include ./partials/slider-timeline 

        .spacer.pt-7

        section
            .row
                .container
                    h2.h3.mb-4 Jak probíhá instalace obrazem

        section
            .container
                .row
                    .col-4

                include ./partials/slider-sluzby.pug

        .spacer.pt-7

        section
            .container
                h2.h4.mb-4 Značky strojů, které servisujeme:

        section
            .container
                include partials/logo-partners

        .spacer.pt-3

        section
            .container
                p Plus  zajistíme opravu všech námi dodávaných měřidel....

        .spacer.pt-7

        section
            .container
                h2.h4 Náš servisní tým je připraven rychle reagovat <br>na řešení zákaznických požadavků

        .spacer.pt-3

        section
            .container
                .row
                    each val in [1, 2]
                        .col-12.col-md-6.col-lg-12.mb-4.mb-lg-5
                            +avatar-contact-1

        .spacer.pt-7